.cloud-page {
    background: rgba(223, 233, 248, 1);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    transition: all 0.5s ease;
    
    height: 100%;
    box-sizing: border-box;

    &__header {
      // height: 80px;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &_share {  
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &_icon {
          width: 50px;
          height: 50px;
  
          img {
            width: inherit;
            height: inherit;
          }
        }
  
        &_title {
          font-size: 22px;
          margin-left: 10px;
        }
      }

      &_details {
        text-align: right;
      }
    }
    &__temp-gap {
      height: 130px;
    }
    &__content {
      padding: 0 10px 10px 10px;
      height: calc(100% - 80px);
      box-sizing: border-box;
    }
  }

  .siteWrapperXL .cloud-page {
    max-width: 1600px;
    margin: 0 auto;
  }

  
  .siteWrapperLG .cloud-page {
    max-width: 1200px;
    margin: 0 auto;
  }
