@import '/node_modules/react-grid-layout/css/styles.css';
@import '/node_modules/react-resizable/css/styles.css';


.services {
    &__layout {
      justify-content: center;
      width: 100%;
      &.layoutXL {
        max-width: 1600px;
      } 
      &.layoutLG {
        max-width: 1200px;
      }  
      &.layoutMD {
        max-width: 996px;
      } 
      &.layoutSM {
        max-width: 768px;
      } 
      &.layoutXS {
        max-width: 480px;
      } 
    }

    &__connect-other {
      width: 100%;
      border: 2px dashed $delimiter;
      text-align: center;
      color: $gray;
      margin-top: 2 * $space;
      font-size: 16px;
      padding: $space;
      box-sizing: border-box;
      cursor: pointer;
      &:before {
        content: "+";
        color: $gray;
        display: block;
        font-size: 28px;
      }
    }

    &__crm {
      &_container {
        display: flex;
        justify-content: space-between;
      }
      &_col {
        width:30%;
        text-align: center;
        padding-top: $space;
        padding-bottom: $space;
      }
      &_col-number {
        font-size: 16px;
        margin-bottom: 5px;
      }
      &_col-text {
        font-size: 14px;
      }
    }

    &__online-consultant {
      &_dialog {
        padding: 10px 0;
      }
      &_dialog-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 5px;
        font-size: 13px;
      }
      &_dialog-date {
        font-size: 10px;
        color: $gray;
      }
      &_separator {
        height: 1px;
        background-color: $delimiter;
      }
    }

    &__domains {
      &-page {
        &_header {
          justify-content: space-between;
          padding-left: 2 * $space;
          padding-right: 2 * $space;
        }
        &_header-col {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
        }
        &_row {
          display: flex;
          flex-wrap: nowrap;
          padding: $space;
          border-top: 1px solid $delimiter;
          &:first-of-type {
            border-top: none;
            padding-top: 0;
          }
        }
        &_col {
          width: 22%;
          &:last-of-type {
            width:12%;
          }
        }
      }
      &_container {
        text-align: center;
        padding: 4*$space 3*$space;
      }
      &_header {
        text-align: left;

      }
      &_item {
        height: 30px;
        border-radius: 30px;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 30px;
        margin-right: $space;
        border: 1px solid $blue;
        display: inline-block;
        font-size: 11px;
        &--blue {
          border-color: $blue;
          color: $blue;
        }
        &--orange {
          color: $orange;
          border-color: $orange;
        }
        &--red {
          color: $red;
          border-color: $red;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    &__video-conferencing {
      &_gap {
        height: $space;
      }
      &_date-container {
        display: flex;
        .site-input {
          margin-right: $space;
        }
      }
      &_create-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: $space;
      }
    }

    &__disc {
      &_container {
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: space-between;
        padding: $space 10%;
      }
      &_progress-label {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 13px;
        justify-content: center;
      }
      &_col {
        box-sizing: border-box;
        &:nth-of-type(1) {
          display: flex;
          align-items: center;
        }
      }
      &_item {
        border-radius: 30px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid $blue;
        display: inline-flex;
        font-size: 11px;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        height: 40px;
        &--blue {
          border-color: $blue;
          color: $blue;
        }
        &--orange {
          color: $orange;
          border-color: $orange;
        }
        &--red {
          color: $red;
          border-color: $red;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
      &_label {
        color: $gray;
        width: 100%;
        padding-bottom: 3px;
        display: block;
      }
      &_number {
        font-size: 13px;
        line-height: 1.3;
      }
    }

    &__invoice-manager {
      &_item {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: $space;
        line-height: 1.2;
        font-size: 12px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      &_item-text-gray {
        color: $gray;
      }
      &_item-col-1 {
        min-width: 140px;
      }
      &_item-col-2 {
        width: 100%;
      }
      &_item-status {
        &--draft {
          color: $light-gray;
        }
        &--sent {
          color: $orange;
        }
        &--viewed {
          color: $blue;
        }
      }
    }

    &__cloud-hosting {
      &_container {
        display: flex;
        flex-direction: column;
        padding: 2*$space 3*$space;
      }

      &_storage {
        &-heading {
          font-weight: 600;
          color: #000;
          margin-bottom: $space;
        }
        
        &_ring {
          width: 137px;
          height: 137px;
          margin: 0 auto;
          &-title {
            font-size: 15px;
            font-weight: 600;
            color: #000;
            margin-bottom: 5px;
          }
          &-subtitle {
            font-size: 12px;
            font-weight: 400;
            color: #9B9B9B;
          }
        }
      }

      &_site {
        &-heading {
          font-weight: 600;
          color: #000;
          margin-top: $space;
        }

        &-list {

        }

      }

      .btn {
        margin-left: auto;
      }
      &_col {
        &:nth-of-type(1) {
          width: 55%;
        }
        &:nth-of-type(2) {
          width: 45%;
        }
      }
    }

    &__tasks {
      &_container {
        padding: $space 3*$space;
      }
      &_list {

      }
      &_tab {
        & .MuiButtonBase-root {
          text-transform: none;
          color: #000;
          font-size: 15px;
          font-weight: 600;
        }
        & .MuiButtonBase-root.MuiTab-root.Mui-selected {
          color: #51A3FF;
        }
        & .MuiTabs-indicator {
          background-color: #51A3FF;
        }
      }
      &_item {
        &.MuiListItem-root {
          margin: 10px 0;
          padding: 0;
          align-items: center;
        }

        & .MuiTypography-body1{
          color: #000;
          font-weight: 600;
        }

        & .MuiTypography-body2{
          color: #000;
          font-size: 15px;
        }
        & .MuiListItemIcon-root {
          min-width: unset;
          margin-right: 10px;
        }
        & .MuiListItemText-root {
          margin: 0;
        }
        & .MuiSvgIcon-root {
          font-size: 15px;
          color: #74BA6A;
        }
        // padding: $space;
        // margin-bottom: $space;
        // cursor: pointer;
        // background-color: $silver;
        // box-shadow: 0 2px 3px rgba(60, 65, 140, 0.08);
        // border-radius: $border-radius-second;
        // &:last-of-type {
        //   margin-bottom: 0;
        // }
      }
    }
    
    &__work-drive {
      width: 100%;
      height: 100%;
      
      &_container {
        padding: $space 3*$space;
        box-sizing: border-box;

        width: inherit;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      &_upload-icon {

      } 
      &_upload-text {
        
      }  
    }

    &__bank {
      width: 100%;
      height: 100%;
      
      &_container {
        padding: $space 2*$space;
        box-sizing: border-box;

        width: inherit;
        height: inherit;
      }

      &_list {
        & .MuiListItem-root {
          padding: 10px 0;
        }
      }

      &_item {
        &-currency {
          width: 50px;
          height: 50px;
          border-radius: 12px;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
        &-currency-eur {
          background-color: #EDC7A4;
        }

        &-currency-usd {
          background-color: #A8DFE2;
        }

        &-currency-other {
          background-color: #B596D5;
        }

        &-balance-info{
          margin-left: 10px;

          & .MuiListItemText-primary {
            font-size: 12px;
          }
          & .MuiListItemText-secondary {
            font-size: 18px;
            font-weight: 500;
            color: #000;
          }
        }

        &-balance-card {
          text-align: right;
          margin-right: 40px;
        }
      }
    }

    &__logo-builder {
      width: 100%;
      height: 100%;
      
      &_container {
        width: inherit;
        height: inherit;
        padding: 2*$space 2*$space;
        box-sizing: border-box;
        
        display: flex;
        flex-direction: column;
      }

      &_description {

      }
      
      &_form-wrapper {
        margin-top: 50px;
      }

      &_form {
        &_title {
          color: #000;
        }
        &_input {
          margin-top: 20px;
          font-size: 15px;
          color: #363C65;
          border-radius: 8px;
          outline: none;
          width: 100%;
          box-sizing: border-box;
          background-color: #F8FAFC;
          transition: 0.2s;
          border: 1px solid #ECECEC;
          padding: 10px 8px;

          &::placeholder {
            color: #ACACAC;
          }
        }

        &_btn {
          margin-top: 20px;
          text-align: right;
        }
      }
      
    }

    &__sites-copying {
      width: 100%;
      height: 100%;
      
      &_container {
        width: inherit;
        height: inherit;
        padding: 2*$space 2*$space;
        box-sizing: border-box;
        
        display: flex;
        flex-direction: column;
      }

      &_description {

      }
      
      &_form-wrapper {
        margin-top: 50px;
      }

      &_form {
        &_title {
          color: #000;
        }
        &_input {
          margin-top: 20px;
          font-size: 15px;
          color: #363C65;
          border-radius: 8px;
          outline: none;
          width: 100%;
          box-sizing: border-box;
          background-color: #F8FAFC;
          transition: 0.2s;
          border: 1px solid #ECECEC;
          padding: 10px 8px;

          &::placeholder {
            color: #ACACAC;
          }
        }

        &_btn {
          margin-top: 20px;
          text-align: right;
        }
      }
    }

    &__website-builder {
      width: 100%;
      height: 100%;
      
      &_container {
        width: inherit;
        height: inherit;
        padding: 2*$space 2*$space;
        box-sizing: border-box;
        
        display: flex;
        flex-direction: column;
      }

      &_description {

      }
      
      &_form-wrapper {
        margin-top: 50px;
      }

      &_form {
        &_title {
          color: #000;
        }
        &_input {
          margin-top: 20px;
          font-size: 15px;
          color: #363C65;
          border-radius: 8px;
          outline: none;
          width: 100%;
          box-sizing: border-box;
          background-color: #F8FAFC;
          transition: 0.2s;
          border: 1px solid #ECECEC;
          padding: 10px 8px;
          resize: none;

          &::placeholder {
            color: #ACACAC;
          }
        }

        &_btn {
          margin-top: 20px;
          text-align: right;
        }
      }
    }

  }
  