.services__connect-other {
  width: 100%;
  border: 2px dashed rgba(21, 57, 75, 0.07);
  text-align: center;
  color: #5f6483;
  margin-top: 20px;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.services__connect-other:before {
  content: "+";
  color: #5f6483;
  display: block;
  font-size: 28px;
}
.services__sites-copying-page_input-container {
  margin-bottom: 30px;
  display: inline-block;
  width: 330px;
  margin-left: 20px;
  position: relative;
}
.services__sites-copying-page_input-container .site-input {
  width: calc(100% - 75px);
  border-right-color: transparent;
}
.services__sites-copying-page_input-container .btn {
  position: absolute;
  right: 0;
  top: 0;
}
.services__sites-copying-page_input-container .site-input-error-label {
  position: absolute;
  top: 100%;
}
.services__sites-copying_container {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 60px;
}
.services__sites-copying_container .site-input {
  border-right-color: transparent;
}
.services__sites-copying_btn {
  position: absolute;
  right: 0;
  top: 0;
}
.services__crm_container {
  display: flex;
  justify-content: space-between;
}
.services__crm_col {
  width: 30%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.services__crm_col-number {
  font-size: 16px;
  margin-bottom: 5px;
}
.services__crm_col-text {
  font-size: 14px;
}
.services__site-builder-page_frame {
  width: 100%;
  height: 600px;
}
.services__site-builder_btn-container {
  margin-top: 10px;
  text-align: right;
}
.services__site-builder_col {
  font-size: 13px;
  line-height: 1.3;
}
.services__site-builder_header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(21, 57, 75, 0.07);
  margin-bottom: 10px;
}
.services__online-consultant_dialog {
  padding: 10px 0;
}
.services__online-consultant_dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  font-size: 13px;
}
.services__online-consultant_dialog-date {
  font-size: 10px;
  color: #5f6483;
}
.services__online-consultant_separator {
  height: 1px;
  background-color: rgba(21, 57, 75, 0.07);
}
.services__domains-page_header {
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.services__domains-page_header-col {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.services__domains-page_row {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  border-top: 1px solid rgba(21, 57, 75, 0.07);
}
.services__domains-page_row:first-of-type {
  border-top: none;
  padding-top: 0;
}
.services__domains-page_col {
  width: 22%;
}
.services__domains-page_col:last-of-type {
  width: 12%;
}
.services__domains_container {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.services__domains_item {
  height: 30px;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 30px;
  margin-right: 10px;
  border: 1px solid #3089dc;
  display: inline-block;
  font-size: 11px;
}
.services__domains_item--blue {
  border-color: #3089dc;
  color: #3089dc;
}
.services__domains_item--orange {
  color: #f08c33;
  border-color: #f08c33;
}
.services__domains_item--red {
  color: #e50f4c;
  border-color: #e50f4c;
}
.services__domains_item:last-of-type {
  margin-right: 0;
}
.services__bank-page_accounts {
  width: 290px;
}
.services__bank-page_accounts-history {
  flex: 1;
}
.services__bank-page_date-col {
  display: flex;
  align-items: center;
}
.services__bank-page_date-col .site-input {
  margin-left: 10px;
}
.services__bank-page_card {
  margin: 30px auto;
}
.services__bank-page_card .services__bank_balance {
  margin-top: 20px;
}
.services__bank-page_card .services__bank_balance-text {
  margin-bottom: 20px;
}
.services__bank-page_card-separator {
  height: 1px;
  background-color: rgba(21, 57, 75, 0.07);
}
.services__bank-page_h-separator {
  width: 1px;
  height: 100%;
  position: absolute;
  left: -1px;
  top: 0;
  background-color: rgba(21, 57, 75, 0.07);
}
.services__bank_cards {
  display: flex;
  padding-bottom: 10px;
}
.services__bank_card {
  width: 33%;
  text-align: center;
}
.services__bank_balance {
  font-size: 15px;
  line-height: 1.3;
}
.services__bank_balance-text {
  font-size: 12px;
}
.services__bank_card-currency {
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  line-height: 30px;
  font-size: 12px;
  margin-bottom: 10px;
  display: inline-block;
}
.services__bank_card-currency--light-orange {
  background-color: #fff4e7;
}
.services__bank_card-currency--light-purple {
  background-color: #f9f0fc;
}
.services__bank_card-currency--light-green {
  background-color: #eef8ef;
}
.services__bank_card-number {
  margin-top: 10px;
  font-size: 12px;
}
.services__bank_history-section-date {
  padding: 10px;
  color: #3089dc;
  background-color: #f6f9fd;
  font-size: 12px;
  border-bottom: 1px solid rgba(21, 57, 75, 0.07);
}
.services__bank_history-item {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 10px;
  line-height: 1.4;
}
.services__bank_history {
  max-height: 190px;
  overflow-y: scroll;
}
.services__bank_history-item-separator {
  height: 1px;
  background-color: rgba(21, 57, 75, 0.07);
}
.services__video-conferencing_gap {
  height: 10px;
}
.services__video-conferencing_date-container {
  display: flex;
}
.services__video-conferencing_date-container .site-input {
  margin-right: 10px;
}
.services__video-conferencing_create-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.services__disc_container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10%;
}
.services__disc_progress-label {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 13px;
  justify-content: center;
}
.services__disc_col {
  box-sizing: border-box;
}
.services__disc_col:nth-of-type(1) {
  display: flex;
  align-items: center;
}
.services__disc_item {
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #3089dc;
  display: inline-flex;
  font-size: 11px;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 40px;
}
.services__disc_item--blue {
  border-color: #3089dc;
  color: #3089dc;
}
.services__disc_item--orange {
  color: #f08c33;
  border-color: #f08c33;
}
.services__disc_item--red {
  color: #e50f4c;
  border-color: #e50f4c;
}
.services__disc_item:last-of-type {
  margin-right: 0;
}
.services__disc_label {
  color: #5f6483;
  width: 100%;
  padding-bottom: 3px;
  display: block;
}
.services__disc_number {
  font-size: 13px;
  line-height: 1.3;
}
.services__invoice-manager_item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
  line-height: 1.2;
  font-size: 12px;
}
.services__invoice-manager_item:last-of-type {
  margin-bottom: 0;
}
.services__invoice-manager_item-text-gray {
  color: #5f6483;
}
.services__invoice-manager_item-col-1 {
  min-width: 140px;
}
.services__invoice-manager_item-col-2 {
  width: 100%;
}
.services__invoice-manager_item-status--draft {
  color: #dee2ee;
}
.services__invoice-manager_item-status--sent {
  color: #f08c33;
}
.services__invoice-manager_item-status--viewed {
  color: #3089dc;
}
.services__cloud-hosting_container {
  display: flex;
}
.services__cloud-hosting_item {
  display: flex;
  flex-wrap: nowrap;
  font-size: 12px;
  align-items: center;
  margin-top: 10px;
  line-height: 1.3;
}
.services__cloud-hosting .btn {
  margin-left: auto;
}
.services__cloud-hosting_col:nth-of-type(1) {
  width: 55%;
}
.services__cloud-hosting_col:nth-of-type(2) {
  width: 45%;
}
.services__tasks_item {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #f6f9fd;
  box-shadow: 0 2px 3px rgba(60, 65, 140, 0.08);
  border-radius: 3px;
}
.services__tasks_item:last-of-type {
  margin-bottom: 0;
}/*# sourceMappingURL=services.css.map */