.isnot-home .notification-popup {
  width: max-content;
  position: relative;
} 

.notification-popup {
    width: 380px;
    display: flex;
    z-index: 3;
    flex-direction: row;
    // height: 100%;
    height: calc(100% - 190px);
    max-height: 90vh;
    background-color: #ffffff;
    border-radius: 18px;
    position: fixed;
    transition: all 0.3s ease;
    right: 20px;
    // top: 69px;
    top: 90px;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);

    &-list {
      width: 380px;
      height: 100%;
      display: flex;
      flex-direction: column;
    
      &__header {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ececec;
        align-items: center;
        height: 80px;
        box-sizing: border-box;
    
        &-title {
          font-size: 22px;
          color: #000000;
        }
    
        &-actions {
          display: flex;
        }
      }
    
      &__body {
        overflow: hidden;
        height: calc(100% - 90px);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-messages {
          height: 95%;
          padding: 20px !important;
          gap: 15px;
          display: flex;
          flex-direction: column;
          overflow-y: scroll;
          
  
          &_container {
            height: 100%;
  
            & .MuiBox-root {
              padding: 0;
              height: 100%;
            }
            & .MuiTypography-root {
              height: 100%;
            }
          }
  
          &_item {
            flex-direction: column;
            padding: 0 !important;
            gap: 5px;
            border-bottom: 1px solid #ececec;
    
            & .MuiTabs-flexContainer  {
              flex-direction: column-reverse;
            }

            &_header {
                display: flex;
                width: 100%;
                gap: 8px;
                align-items: center;

                &-icon {

                    & .MuiSvgIcon-root { 
                    font-size: 12px;
                    color: #3E6DC5; 
                    }
                }

                &-category {
                    color: $gray-text;
                    font-weight: 600;
                    font-size: 14px;
                }

                &-time {
                    color: #515154;
                    font-size: 13px;
                }
            }

            &_content {
                & .MuiListItemText-root {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
                & .MuiListItemText-primary {
                    color: #000000;
                    font-size: 14px;
                } 
                
                & .MuiListItemText-secondary {
                    color: $gray-text;
                    font-size: 13px;
                } 

            }

            &:last-child {
                border-bottom: unset;
            }
          }
        }

      }
    }  
}


.siteWrapperLG .notification-popup {

  &-list {
    width: 330px;


    &__header {
      padding: 20px;

      &-title {
        font-size: 20px;
      }
    }
  
    &__body {
      &-messages {
        padding: 20px !important;

        &_item {
          &_header {
              &-icon {
                  & .MuiSvgIcon-root { 
                  font-size: 11px; 
                  }
              }

              &-category {
                  font-size: 13px;
              }

              &-time {
                  font-size: 12px;
              }
          }

          &_content {
              & .MuiListItemText-primary {
                  font-size: 13px;
              } 
              
              & .MuiListItemText-secondary {
                  font-size: 12px;
              } 
          }
        }
      }

    }
  }  
}

.siteWrapperMD .notification-popup {

  &-list {
    width: 330px;

    &__header {
      &-title {
        font-size: 20px;
      }
    }
  
    &__body {
      &-messages {
        &_item {
          &_header {
              &-icon {
                  & .MuiSvgIcon-root { 
                  font-size: 11px; 
                  }
              }

              &-category {
                  font-size: 13px;
              }

              &-time {
                  font-size: 12px;
              }
          }

          &_content {
              & .MuiListItemText-primary {
                  font-size: 13px;
              } 
              
              & .MuiListItemText-secondary {
                  font-size: 12px;
              } 
          }
        }
      }

    }
  }  
}

.siteWrapperSM .notification-popup {

  &-list {
    width: 350px;
    
    &__header {
      &-title {
        font-size: 20px;
      }
    }
  
    &__body {
      &-messages {
        &_item {
          &_header {
              &-icon {
                  & .MuiSvgIcon-root { 
                  font-size: 11px; 
                  }
              }

              &-category {
                  font-size: 13px;
              }

              &-time {
                  font-size: 12px;
              }
          }

          &_content {
              & .MuiListItemText-primary {
                  font-size: 13px;
              } 
              
              & .MuiListItemText-secondary {
                  font-size: 12px;
              } 
          }
        }
      }

    }
  }  
}

.siteWrapperXS .notification-popup {
  &-list {
    width: 350px;
    
    &__header {
      &-title {
        font-size: 20px;
      }
    }
  
    &__body {
      &-messages {
        &_item {
          &_header {
              &-icon {
                  & .MuiSvgIcon-root { 
                  font-size: 11px; 
                  }
              }

              &-category {
                  font-size: 13px;
              }

              &-time {
                  font-size: 12px;
              }
          }

          &_content {
              & .MuiListItemText-primary {
                  font-size: 13px;
              } 
              
              & .MuiListItemText-secondary {
                  font-size: 12px;
              } 
          }
        }
      }

    }
  }  
}

.dark .notification-popup {
  background-color: $dark-theme-background-color;

  &-list {
    &__header {
      border-color: #7c7c7c;
  
      &-title {
        color: $dark-theme-title-color;
      }
  
      &-actions {
        & .MuiSvgIcon-root {
          color: $dark-theme-title-color;
        }
      }
    }
  
    &__body {
      &-messages {
        &_item {
          border-color: #7c7c7c;

          &_header {
              &-icon {
                  & .MuiSvgIcon-root {
                  color: #51a3ff; 
                  }
              }

              &-category {
                  color: #51a3ff;
              }

              &-time {
                  color: $dark-theme-subtitle-color;
              }
          }

          &_content {
            & .MuiListItemText-primary {
                color: $dark-theme-title-color;
            }
            
            & .MuiListItemText-secondary {
                color: $dark-theme-subtitle-color;
            } 
          }
        }
      }
    }
  }  
}
