.MuiModal-root .MuiBox-root .container {
    padding: 20px 40px;
}

.ml-auto {
    margin-left: auto;
}

.MuiTooltip-tooltip {
    font-size: 12px !important;
    background-color: #181F33 !important;
    border-radius: 4px !important;
    padding: 10px 15px !important;
}

.MuiTooltip-arrow {
    color: #181F33 !important;
}