@import '../../../styles/sass/variables.scss';

.calendar-page {
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    // height: 75vh;
    height: 100%;

    & .MuiGrid-container {
        margin: 0;
    }

    & .MuiGrid-item {
        padding-top: 0 !important;
    }

    &_sidebar {
        padding: 50px 5px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &_create-event {
            &_btn.MuiButtonBase-root {
              background-color: $blue;
              width: 100%;
              padding: 10px;
              text-align: center;
              color: #fff;
              border-radius: 8px;
              text-transform: none;
            }
      
            &_btn.MuiButtonBase-root:hover {
              background-color: $blue;
            }
         }

        &-section {
            &_filter {
                & .MuiFormControlLabel-root {
                    margin: 0;
                }

                & .MuiFormControlLabel-root:not(:last-child) {
                    border-bottom: 1px solid #D2D2D2;
                }
                

                & .MuiTypography-root {
                    color: #333333;
                }
            }
        }
    }

    &_main {
        padding: 0 10px;

        &_calendar {
            & .fc-header-toolbar {
                & .fc-toolbar-chunk {
                    display: flex;
                    gap: 10px;
                    
                    .fc-prev-button,
                    .fc-next-button,
                    .fc-prev-button:not(:disabled):active,
                    .fc-next-button:not(:disabled):active {
                        background-color: transparent;
                        border: unset;
                        color: #333333;
                        font-size: 14px;
                    }
    
                    .fc-prev-button:focus,
                    .fc-next-button:focus,
                    .fc-today-button:focus,
                    .fc-prev-button:not(:disabled):active:focus
                    .fc-next-button:not(:disabled):active:focus,
                    .fc-today-button:not(:disabled):active:focus {
                        box-shadow: unset;
                    }
    
                    .fc-toolbar-title {
                        font-size: 15px;
                        color: #414141;
                        display: flex;
                        align-items: center;
                        padding: 0 20px;
                    }
    
                    .fc-today-button {
                        font-size: 15px;
                        background-color: transparent;
                        border: unset;
                        color: #414141;
                        opacity: 1;
                        cursor: pointer;
                    }


                    .fc-button-group {
                        gap: 10px;

                        .fc-button:not(:disabled).fc-button-active {
                            font-size: 14px;
                            background-color: #A0B6D6;
                            border-radius: 4px;
                            padding: 8px 10px;
                            border: unset;
                            line-height: unset;
                        }

                        .fc-button:not(.fc-button-active) {
                            font-size: 14px;
                            color: #333333;
                            background-color: unset;
                            border-radius: 4px;
                            padding: 8px 10px;
                            border: unset;
                            line-height: unset;
                        }

                        .fc-button:not(:disabled):focus {
                            box-shadow: unset;
                        }
                    }
    
                }
            } 


            & .fc-view-harness {
                background-color: white;
                border-radius: 8px;
                max-height: 630px;

                & .fc-scrollgrid {
                    border: unset;

                    & .fc-scroller {

                        & .fc-col-header-cell {
                            border-left: unset;
                            border-right: unset;

                            & .fc-scrollgrid-sync-inner {
                                padding: 5px 0;
    
                                .fc-col-header-cell-cushion {
                                    color: #333333;
                                    font-size: 13px;
                                } 
                            }
                        }
                    }

                    & .fc-daygrid-body {
                        & .fc-day {
                            padding: 5px;

                            .fc-daygrid-day-frame .fc-daygrid-day-top {
                                flex-direction: row;

                                .fc-daygrid-day-number {
                                    color: #333333;
                                    font-size: 13px;
                                }
                            }

                            
                            & .fc-daygrid-day-number {
                                padding: 6px 6px;
                            }

                            & .fc-daygrid-day-events {
                                & .fc-event {
                                    text-align: center;
                                    padding: 5px;
                                    background-color: $blue;
                                    color: #fff;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: block;

                                    & .fc-event-main {
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                    }
                                }
                            }
                        }

                        & .fc-day-today {
                            background-color: unset;

                            & .fc-daygrid-day-number {
                                border: 1px solid $blue;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}

