@import '../../../styles/sass/variables.scss';

.calendar-page {
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    // height: 75vh;
    height: 100%;

    & .MuiGrid-container {
        margin: 0;
    }

    & .MuiGrid-item {
        padding-top: 0 !important;
    }

    &_sidebar {
        padding: 0 5px 50px 5px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 56px;

        &_create-event {
            &_btn.MuiButtonBase-root {
              font-size: 16px;
              background-color: $blue;
              width: 100%;
              padding: 10px;
              text-align: center;
              color: #fff;
              border-radius: 8px;
              text-transform: none;
            }
      
            &_btn.MuiButtonBase-root:hover {
              background-color: $blue;
            }
         }

        &-section {
            &_filter {
                margin-top: 28px;

                & .MuiFormControlLabel-root {
                    margin: 0;
                }

                & .MuiFormControlLabel-root:not(:last-child) {
                    border-bottom: 1px solid #D2D2D2;
                }

                & .MuiTypography-root {
                    color: #333333;
                    font-size: 13px;
                }
            }

            &_add-btn.MuiButtonBase-root {
                text-transform: none;
                font-size: 13px;
                margin-top: 10px;
            }
        }
    }

    &_main {
        padding: 0 10px;
        height: 100%;

        &_calendar {
            height: 100%;

            & .fc-media-screen {
                height: 100%;

                & .fc-header-toolbar {
                    & .fc-toolbar-chunk {
                        display: flex;
                        gap: 10px;
                        
                        .fc-prev-button,
                        .fc-next-button,
                        .fc-prev-button:not(:disabled):active,
                        .fc-next-button:not(:disabled):active {
                            background-color: transparent;
                            border: unset;
                            color: #333333;
                            font-size: 14px;
                        }
        
                        .fc-prev-button:focus,
                        .fc-next-button:focus,
                        .fc-today-button:focus,
                        .fc-prev-button:not(:disabled):active:focus
                        .fc-next-button:not(:disabled):active:focus,
                        .fc-today-button:not(:disabled):active:focus {
                            box-shadow: unset;
                        }
        
                        .fc-toolbar-title {
                            font-size: 15px;
                            color: #414141;
                            display: flex;
                            align-items: center;
                            padding: 0 20px;
                        }
        
                        .fc-today-button {
                            font-size: 15px;
                            background-color: transparent;
                            border: unset;
                            color: #414141;
                            opacity: 1;
                            cursor: pointer;
                        }
    
    
                        .fc-button-group {
                            gap: 10px;
                            background-color: #F8FAFC80;
                            border-radius: 8px;
    
                            .fc-button:not(:disabled).fc-button-active {
                                font-size: 14px;
                                background-color: #7676801f;
                                color: #6B686A;
                                border-radius: 8px;
                                padding: 10px 15px;
                                border: unset;
                                line-height: unset;
                            }
    
                            .fc-button:not(.fc-button-active) {
                                font-size: 14px;
                                color: #6B686A;
                                background-color: unset;
                                border-radius: 8px;
                                padding: 10px 15px;
                                border: unset;
                                line-height: unset;
                            }
    
                            .fc-button:not(:disabled):focus {
                                box-shadow: unset;
                            }
                        }
        
                    }
                } 
    
    
                & .fc-view-harness {
                    background-color: white;
                    border-radius: 8px;
                    max-height: 100%;
                    height: auto;
    
                    & .fc-scrollgrid {
                        border: unset;
    
                        & .fc-scroller {

                            & .fc-timegrid-axis {
                                border-right: unset;
                            }
    
                            & .fc-col-header-cell {
                                border-left: unset;
                                border-right: unset;
    
                                & .fc-scrollgrid-sync-inner {
                                    padding: 5px 0;
        
                                    .fc-col-header-cell-cushion {
                                        color: #333333;
                                        font-size: 13px;
                                        font-weight: 500;
                                    } 
                                }
                            }
                        }
    
                        & .fc-daygrid-body {
                            & .fc-day {
                                padding: 5px;
    
                                .fc-daygrid-day-frame .fc-daygrid-day-top {
                                    flex-direction: row;
    
                                    .fc-daygrid-day-number {
                                        color: #333333;
                                        font-size: 13px;
                                        width: 25px;
                                        height: 25px;
                                        text-align: center;
                                        padding: 6px;
                                    }
                                }
    
                                
                                & .fc-daygrid-day-number {
                                    padding: 6px 6px;
                                }
    
                                & .fc-daygrid-day-events {
                                    & .fc-event {
                                        text-align: left;
                                        padding: 10px 5px;
                                        // background-color: $blue;
                                        background-color: #AB9BCD;
                                        border-color: #AB9BCD;
                                        color: #fff;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        display: block;

                                        b {
                                            margin-right: 7px;
                                        }
    
                                        & .fc-event-main {
                                            white-space: nowrap;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                        }
                                    }
                                }
                            }
    
                            & .fc-day-today {
                                background-color: unset;
    
                                & .fc-daygrid-day-number {
                                    border: 1px solid $blue;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }


                    & .fc-timegrid-cols {
                        & .fc-timegrid-axis {
                            & .fc-timegrid-now-indicator-arrow {
                                border-right-color: #653EB9;
                                border-left-color: #653EB9;
                                border-width: 7px 0 7px 7px;
                            }
                        }

                        & .fc-day{
                            & .fc-event {
                               
                                padding: 5px 0;
                                background-color: #AB9BCD;
                                border-color: #AB9BCD;

                                .fc-event-main {
                                    font-size: 13px;
                                    padding: 9px 5px;
                                    text-align: left;
                                    color: #fff;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: block;

                                    b {
                                        margin-right: 10px;
                                    }
                                }
                            }

                            & .fc-timegrid-now-indicator-line {
                                border-color: #653EB9;
                                border-width: 3px 0 0;

                                &::before {
                                    content: "";
                                    width: 13px;
                                    height: 13px;
                                    background-color: #653EB9;
                                    display: block;
                                    border-radius: 50%;
                                    top: -7px;
                                    position: absolute;
                                }
                            }
                        }

                        & .fc-day-today {
                            background-color: unset;
                        }
                    }

                    & thead{
                        & .fc-scrollgrid-section {

                            & .fc-scroller-harness {
                                & .fc-scroller {
                                    overflow: unset !important;
                                }
                            }
    
                        }
                    }
                    & tbody tr:first-child {
                            & .fc-scroller-harness {
                                & .fc-scroller {
                                    overflow: auto !important;

                                    .fc-timegrid-slots {
                                        table tbody {

                                            tr {
                                                td:first-child {
                                                    border: unset;
                                                }
                                            }

                                            tr:nth-child(odd) {
                                                td:first-child {
                                                    .fc-timegrid-slot-label-frame {
                                                        position: relative;
                                                        text-align: center;

                                                        .fc-timegrid-slot-label-cushion {
                                                            font-size: 13px;
                                                            color: #333;
                                                            position: relative;
                                                            top: 10px;
                                                        }
                                                    }
                                                }
                                            }

                                            tr:nth-child(even) {
                                                td {
                                                    border: unset;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                    }

                    & .fc-listWeek-view {
                        .fc-event {
                            .fc-list-event-graphic {
                                .fc-list-event-dot {
                                    border-color: #AB9BCD;
                                }
                            }
                        }
                    }
                }
            }


        }
    }
}

