@import "../../../styles/sass/variables.scss";

.tasks-page {
  width: 100%;
  padding-bottom: 10px;
  // height: 75vh;
  height: 100%;
  overflow: auto;

  @media (min-width: 1600px) {
    &.tasks-page-zoomout-one {
      zoom: 0.85;
    }
  
    &.tasks-page-zoomout-two {
      zoom: 0.65;
    }
  }

  @media (max-width: 1600px) {
    &.tasks-page-zoomout-one {
      zoom: 0.85;
    }
  
    &.tasks-page-zoomout-two {
      zoom: 0.65;
    }
  }

  & .MuiGrid-container {
    margin: 0;
  }

  & .MuiGrid-item {
    padding-top: 0 !important;
  }

  & .MuiGrid-root {
    height: 100%;
  }

  &_main {
    height: 100%;
    padding: 0 10px 0 15px;

    &_list {
        width: 100%;
        height: 100%;
        // background-color: #ffffff;
        // border-radius: 8px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        &-actions {
          display: flex;
          gap: 10px;
          margin-bottom: 15px;

          .input-container {
            width: auto;
            // max-width: 300px;
            // margin-right: 0.5rem;
            margin-top: 10px;
          
            .input-content {
              width: auto;
              // max-width: 300px;
              border-radius: 5px;
              // background-color: #ebecf0;
              // padding: 10px;
              box-sizing: border-box;
              
              .add-backlog-btn.MuiButtonBase-root {
                // background-color: #3089dc;
                background-color: transparent;
                width: 100%;
                padding: 8px 20px;
                padding-left: 7px;
                text-align: center;
                // color: #ffffff;
                color: #000;
                border-radius: 8px;
                text-transform: none;
                font-size: 14px;

                .MuiSvgIcon-root {
                  font-size: 16px;
                  border: 1px solid #000;
                  border-radius: 50%;
                }
              }

            }

          }
        }

        .wrapper {
          width: 100%;
          // display: flex;
          height: 99%;
          box-sizing: border-box;  
          // display: grid;
          // grid-template-columns: 25% 25% 25% 25%;
          display: flex;
          gap: 10px;
          overflow-x: auto;

          & > div {
            width: 350px;
            flex: 0 0 350px;
          }
          

          & .list-cards {
            // width: 300px;
            // background-color: #ebecf0;
            margin-right: 0.5rem;
            border-radius: 5px;

          
            .title-list {
              padding: 10px;
              background-color: #ffffff;
              border-radius: 8px;
              box-sizing: border-box;

              & .editable-title-container {
                position: relative;
                display: flex;
                align-items: center;
              
                .editable-title {
                  // height: 1.7rem;
                  color: #000;
              
                  flex-grow: 1;
                  font-size: 16px;
                  font-weight: 600;

                  margin-bottom: 0;
                  padding: 7px 0;
                }

                .editable-title-actions {
                  display: none;
                  padding: 1px 5px;

                  & .MuiSvgIcon-root {
                    font-size: 20px;
                  }
                }

                &:hover .editable-title-actions {
                  display: inline-block;
                }
              
                .list-button {
                  height: 1.5rem;
                  border: none;
              
                  cursor: pointer;
              
                  transition: background-color 0.2s;
              
                  &:hover {
                    background-color: #ddd;
                  }
                }
              
                .menu-card {
                  position: absolute;
                  right: 0;
              
                  background-color: #fff;
                  border: 1px solid #ddd;
              
                  border-radius: 4px;
                  z-index: 999;
                  list-style-type: none;
                  cursor: default;
              
                  li {
                    color: #333;
                    font-size: 0.875rem;
                    border-bottom: 1px solid #ddd;
                    padding: 0.5rem 0.5rem 0.3rem;
              
                    &:hover {
                      background-color: #ddd;
                    }
                  }
                }
              }

              & .input-title {
                width: 100%;
                box-sizing: border-box;
                padding: 8px;
                font-size: 15px;
              }
            }
          
            .container-cards {
              overflow-x: auto;
              // max-height: 55vh;
              // padding: 0 1rem;

              & .card-container {
                overflow-y: hidden;
                margin: 0.5rem 0;

                & .card-content {
                  min-height: 2.5rem;
                
                  display: flex;
                  justify-content: space-between;
                  align-items: flex-start;
                
                  margin: 0.5rem 0 0;
                
                  background: #fff;
                  border-radius: 8px;
                  border-bottom: 1px solid #ccc;
                
                  position: relative;
                
                  .card-content-container {
                    width: 100%;
                    height: 100%;
                
                    // display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                
                    font-size: 15px;
                
                    transition: background-color 0.1s;
                    position: relative;
                
                    div {
                      // padding: 0.7rem 0.5rem 0.5rem;
                
                      // max-width: 90%;
                      overflow: hidden;
                      word-wrap: break-word;
                    }

                    .card-content_img {
                      width: 100%;
                      padding: 0;
                      border-radius: 8px 8px 0 0;

                      img {
                        width: 100%;
                      }
                    }

                    .card-content_info {
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      padding: 0.7rem 0.5rem 0.5rem;

                      &-title {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding: 0;
                      }

                      &-members {
                        padding: 0;
                        display: flex;
                        justify-content: end;
                        gap: 5px;
                        
                        &-member {
                          padding: 0;
                          width: 35px;
                          height: 35px;
                        }
                      }
                    }

                    .card-content_details {
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      padding: 0.7rem 0.5rem 0.5rem;

                      &-tags {
                        display: flex;
                        gap: 6px;
                        width: 100%;
                        overflow: auto;
                        box-sizing: border-box;
                        padding: 0;

                        &-tag {
                          font-size: 12px;
                          background-color: #EBEDF1;
                          padding: 5px 10px;
                          display: inline-block;
                          color: #727272;
                          border-radius: 30px;

                        }
                      }

                      &-buttons {
                        display: flex;
                        padding: 0;
                        overflow: unset;
                        gap: 10px;

                        &-files {
                          display: flex;
                          align-items: center;
                          color: #A8ADB2;
                          font-size: 13px;
                        }

                        &-comments {
                          display: flex;
                          align-items: center;
                          overflow: unset;
                          color: #A8ADB2;
                          font-size: 13px;
                        }

                        &-setting {
                          display: flex;
                          align-items: center;
                          overflow: unset;
                          color: #A8ADB2;
                          font-size: 13px;
                        }

                        .MuiSvgIcon-root {
                          color: #A8ADB2;
                          font-size: 18px;
                        }

                        .MuiButtonBase-root {
                          padding: 1px;
                        }
                      }
                    }

                    .card-content_description {
                    }

                    .card-content_members {
                      display: flex;
                      justify-content: end;
                      gap: 5px;

                      .card-content_member {
                        padding: 0;
                      }
                    }


                    .card-content_tags {
                        display: flex;
                        gap: 6px;
                        width: 100%;
                        overflow: auto;
                        box-sizing: border-box;

                      .card-content_tag {
                        font-size: 12px;
                        background-color: #EBEDF1;
                        padding: 5px 10px;
                        display: inline-block;
                        color: #727272;
                        border-radius: 30px;

                      }
                    }

                    .card-content_members {
                      display: flex;
                      justify-content: end;
                      gap: 5px;

                      .card-content_member {
                        padding: 0;
                      }
                    }

                    .card-content_actions {
                      display: flex;
                      position: absolute;
                      right: 0;
                      top: 0;
                      opacity: 0;
                      visibility: hidden;
                      padding: 5px;
                      gap: 2px;

                      button.MuiButtonBase-root {
                        padding: 5px;
                        background-color: #fff;

                        &:hover {
                          background-color: #d7d6d6;
                        }

                        .MuiSvgIcon-root {
                          font-size: 18px;
                        }
                      }
                    }

                    
                    &:hover {
                      .card-content_actions {
                        opacity: 1;
                        visibility: visible;
                      }
                    }
                  }
                
                  .input-card-title {
                    width: 100%;
                    height: 100%;
                
                    padding: 0.7rem 0.5rem 0.5rem;
                
                    resize: none;
                    overflow: hidden;
                
                    border-color: transparent;
                    border-radius: 3px;
                    font-size: 15px;
                
                    transition: border-color 0.2s;
                
                    &:focus {
                      border: 1px solid #e22bba;
                    }
                  }
                }


              }
            }

          }

          .input-container {
            width: 100%;
            // max-width: 300px;
            // margin-right: 0.5rem;
            margin-top: 10px;
          
            .input-content {
              width: 100%;
              // max-width: 300px;
              border-radius: 5px;
              // background-color: #ebecf0;
              // padding: 10px;
              box-sizing: border-box;
              
              .add-backlog-btn.MuiButtonBase-root {
                // background-color: #3089dc;
                background-color: #ffffff;
                width: 100%;
                padding: 10px;
                text-align: center;
                color: #000;
                border-radius: 8px;
                text-transform: none;

                .MuiSvgIcon-root {
                  font-size: 16px;
                  border: 1px solid #000;
                  border-radius: 50%;
                }
              }

              .add-backlog-btn.list.MuiButtonBase-root {
                // background-color: #3089dc;
                background-color: transparent;
                width: auto;
                text-align: left;
                font-size: 16px;
                font-weight: 600;
              }

            }

            .input-card {
              background-color: #ebecf0;
              padding: 1rem;
              border-radius: 5px;
            
              .input-card-container {
                width: 100%;
                margin: auto;
            
                .input-text {
                  width: 100%;
                  height: 4rem;
            
                  background-color: #fff;
                  padding: 0.5rem;
                  font-size: 15px;
                  border: none;
                  border-bottom: 1px solid #ccc;
            
                  resize: none;
                }
              }
            
              .confirm {
                width: 100%;
                margin: 0.2rem auto;
            
                display: flex;
                align-items: center;
            
                .button-confirm {
                  height: 2rem;
                  width: 6rem;
                  background-color: #525252;
                  cursor: pointer;
                  border: none;
                  border-radius: 7px;
                  color: #fff;
                  font-weight: bold;
                  margin-right: 0.5rem;
            
                  &:hover {
                    background-color: #e22bba;
                  }
                }
            
                .button-cancel {
                  background-color: none;
                  border: none;
                  cursor: pointer;
            
                  svg {
                    transition: color 0.3s;
                    &:hover {
                      color: #e22bba;
                    }
                  }
                }
              }
            }

          }

        }
    }
  }
}

.backlog-modal {
  
  &_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
  }

  & .MuiFormGroup-root {
    gap: 15px;
  }

  &_item {
    width: 100%;

    .MuiFormControl-root {
      width: 100%;
    }

    .MuiInputBase-root {
      width: 100%;
    }

    .MuiAutocomplete-root {
      width: 100%;
    }

    & .submit-backlog-btn.MuiButtonBase-root {
      background-color: #3089dc;
      width: 100%;
      padding: 10px;
      text-align: center;
      color: #fff;
      border-radius: 8px;
      text-transform: none;
    }


    &-attach {
      min-height: 100px !important;

      .MuiDropzoneArea-text {
        font-size: 16px;
        margin: 15px 0;
      }

      img {
        width: 35px;
        height: 35px;
      }
    }

  }

  &_item.double {
    display: flex;
    gap: 10px;

    .half {
      width: 50%;

      .MuiSelect-select {
        height: 55px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
      }
    }
  }

  .view-modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 60vh;
    overflow-y: auto;

    .backlog-modal_item {
      padding: 7px 0;
    }
    
    .backlog-modal_item:first-child {
      border-bottom: 1px solid #e5e5e5;
    }

    .backlog-modal_item:last-child {
      text-align: center;
    }

    &_title {
      font-size: 22px;
      color: #000;
      word-break: break-all;
    }

    &_description {
      font-size: 18px;
      word-break: break-all;
    }

    &_tags {
      display: flex;
      gap: 6px;

      span {
        font-size: 12px;
        background-color: #EBEDF1;
        padding: 5px 10px;
        display: inline-block;
        color: #727272;
        border-radius: 30px;
      }
    }

    &_image {
      width: 100%;
    }
  }
}

.comments_popover {

  .MuiPaper-root {
    max-width: 400px;
    min-width: 400px;
    max-height: 450px;
    border-radius: 8px;
    overflow: hidden;
  }

  &-container {
    max-width: 400px;
    min-width: 100%;
    max-height: 450px;
    box-sizing: border-box;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    // gap: 15px;
    position: relative;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  &-item {
    display: flex;
    align-items: start;
    gap: 10px;


    &-avatar {
      .MuiAvatar-root {
        width: 35px;
        height: 35px;
      }
    }

    &-comment {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;

      &-info {
        display: flex;
        justify-content: space-between;
        padding-top: 5px;

        &-name {
          font-size: 14px;
          font-weight: 600;
          color: #000;
          text-transform: capitalize;
        }

        &-date {
          font-size: 14px;
          color: #BBBBBB;
        }
      }

      &-text {
        font-size: 14px;
        color: #000;
        line-height: 21px;
        word-break: break-all;
      }
    }
  }

  &-footer {
    padding: 20px;
    border-top: 1px solid #ECECEC;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: sticky;
    bottom: 0;
    background-color: #ffffff;
    padding-bottom: 10px;

    &-input {
      width: 100%;

      .MuiInputBase-root {
        border-radius: 50px;
        padding: 10px 20px;

        &:hover .MuiOutlinedInput-notchedOutline {
          border-color: #1976d2;
        }
      }
    }

    &-submit {
      text-align: right;
      transition: all 0.3s ease;
      
      &_btn.MuiButtonBase-root  {
        background-color: #3089dc;
        color: white;
        border-radius: 50px;
        text-transform: capitalize;

        &:hover {
          background-color: #3089dc;
          color: white;
          border-radius: 50px;
        }
      }
    }
  }
}

.cloud-page__header_tasks-page_details {
  text-align: right;
  width: 100%;
  
  &-close {
    text-align: right;
  }

}




