.schedule {
  padding: 10px;
}
.schedule-actions button.MuiButtonBase-root {
  border: unset;
  color: #000;
}
.schedule-content_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.schedule-content_icon img {
  width: 60px;
  height: 60px;
}
.schedule-content_form {
  padding: 20px 3vw;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.schedule-content_form .MuiFormControl-root {
  width: 100%;
  background-color: #F8FAFC;
  border-radius: 8px;
}
.schedule-content_form-item-title {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
  color: #000;
}
.schedule-content_form-item-title-info {
  color: #888888;
  display: block;
  margin-bottom: 5px;
}
.schedule-content_form-item-input input {
  border-radius: 8px;
  background-color: #F8FAFC;
  padding: 10px;
}
.schedule-content_form-item-input .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
}
.schedule-content_form-item-input .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.schedule-content_form-item-date-title {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
  color: #000;
}
.schedule-content_form-item-date-form {
  margin-top: 5px;
}
.schedule-content_form-item-date-form-field .MuiInputBase-input {
  padding: 10px;
  background-color: #F8FAFC;
  border-radius: 8px;
}
.schedule-content_form-item-date-form-field .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
}
.schedule-content_form-item-date-form-field .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.schedule-content_form-item-date-form-field button.MuiButtonBase-root {
  border: unset;
  padding: 8px 20px;
  margin-top: 10px;
  background-color: #3089dc;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  text-transform: none;
}
.schedule-content_form-item-date-form-field:nth-child(1), .schedule-content_form-item-date-form-field:nth-child(2) {
  padding-right: 5px;
}
.schedule-content_form-item-timezone-title {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
  color: #000;
}
.schedule-content_form-item-timezone-select > div > div {
  border-radius: 8px;
  background-color: #F8FAFC;
}
.schedule-content_form-item-timezone [class^=-control] {
  border-radius: 8px;
}
.schedule-content_form-item-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.schedule-content_form-item-switch-label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.schedule-content_form-item-switch-label img {
  width: 20px;
}
.schedule-content_form-item-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.schedule-content_form-item-checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.schedule-content_form-item-checkbox-label img {
  width: 20px;
}
.schedule-content_form-item-checkbox .MuiFormControlLabel-root {
  margin: 0;
}
.schedule-content_form-item-checkbox .MuiButtonBase-root {
  padding: 0;
}
.schedule-content_form-item-submit {
  text-align: right;
}
.schedule-content_form-item-submit-btn.MuiButtonBase-root {
  padding: 10px 25px;
  background-color: #51A3FF;
  color: #ffffff;
  border-radius: 30px;
  font-size: 14px;
  text-transform: none;
  line-height: unset;
}
.schedule-content_form-item-submit-btn.MuiButtonBase-root:hover {
  background-color: #51A3FF;
}/*# sourceMappingURL=schedule.css.map */