@import "../../../styles/sass/variables.scss";

.video-conferencing-page {
  width: 100%;
  padding-bottom: 10px;
  height: 75vh;
  overflow: auto;

  & .MuiGrid-container {
    margin: 0;
  }

  & .MuiGrid-item {
    padding-top: 0 !important;
  }

  & .MuiGrid-root {
    height: 100%;
  }

  &_sidebar {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

}
