.clients-filterpopup {
  width: 320px;
  padding: 20px;
  box-sizing: border-box;
}
.clients-filterpopup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.clients-filterpopup-header-title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  color: #51A3FF;
}
.clients-filterpopup-header-title p {
  font-family: "OpenSans" !important;
}
.clients-filterpopup-header-btn .MuiButtonBase-root {
  color: #51A3FF;
}
.clients-filterpopup-list {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.clients-filterpopup-item-title {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
  color: #444;
  font-size: 13px;
  line-height: 22px;
  font-family: "OpenSans" !important;
}
.clients-filterpopup-item .MuiInputBase-root {
  width: 100%;
  border-radius: 8px;
  background-color: #F8FAFC;
}
.clients-filterpopup-item .MuiInputBase-root input {
  height: 35px;
  box-sizing: border-box;
  padding: 10px;
  color: #444;
  font-size: 13px;
  font-family: "OpenSans" !important;
}
.clients-filterpopup-item .MuiInputBase-root input::-moz-placeholder {
  color: #444;
  font-size: 13px;
  opacity: 1;
}
.clients-filterpopup-item .MuiInputBase-root input::placeholder {
  color: #444;
  font-size: 13px;
  opacity: 1;
}
.clients-filterpopup-item .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.clients-filterpopup-item .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.clients-filterpopup-item-select {
  width: 100%;
}
.clients-filterpopup-item-select .MuiSelect-select {
  height: 35px !important;
  box-sizing: border-box;
  padding: 10px;
  background-color: #F8FAFC;
  font-size: 13px;
  color: #444;
  font-family: "OpenSans" !important;
  line-height: 16px;
  border-radius: 8px;
}
.clients-filterpopup-item-select .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
}
.clients-filterpopup-item-select .MuiSvgIcon-root {
  color: #ACACAC;
}
.clients-filterpopup-item-select.MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.clients-filterpopup-item-double {
  display: flex;
  gap: 10px;
}
.clients-filterpopup-item-double .MuiFormControl-root {
  width: 100%;
}
.clients-filterpopup-item-double .MuiInputBase-adornedStart {
  padding-left: 10px;
}
.clients-filterpopup-item-double .MuiInputBase-adornedStart input {
  box-sizing: border-box;
  border-left: 1px solid #ececec;
}
.clients-filterpopup-item-double .MuiInputBase-adornedStart .MuiTypography-body1 {
  font-size: 13px;
  color: #ACACAC;
}
.clients-filterpopup-btn {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.clients-filterpopup-btn-submit.MuiButtonBase-root {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.clients-filterpopup-btn-submit.MuiButtonBase-root:hover {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
}
.clients-filterpopup-btn-reset.MuiButtonBase-root {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.clients-filterpopup-btn-reset.MuiButtonBase-root:hover {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
}

.clients-addnewpopup {
  width: 80%;
  max-width: 630px;
  height: auto;
  max-height: 70vh;
  overflow-y: auto;
  background-color: white;
  border-radius: 8px;
  padding: 40px;
  box-sizing: border-box;
}
.clients-addnewpopup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ECECEC;
  font-family: "OpenSans" !important;
}
.clients-addnewpopup-header-title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  color: #51A3FF;
}
.clients-addnewpopup-header-btn .MuiButtonBase-root {
  color: #51A3FF;
}
.clients-addnewpopup-list {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
.clients-addnewpopup-item {
  padding-bottom: 20px;
}
.clients-addnewpopup-item.pb-0 {
  padding-bottom: 0;
}
.clients-addnewpopup-item.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clients-addnewpopup-item-title {
  width: auto;
  font-size: 14px;
  color: #444;
  font-family: "OpenSans" !important;
}
.clients-addnewpopup-item-title.required {
  font-size: 13px;
  margin-top: 27px;
}
.clients-addnewpopup-item .MuiFormControl-root {
  width: 80%;
  max-width: 380px;
}
.clients-addnewpopup-item-number {
  width: 80%;
  max-width: 380px;
}
.clients-addnewpopup-item-number .MuiFormControl-root {
  width: 100%;
}
.clients-addnewpopup-item-number .MuiInputBase-root {
  width: 100%;
  border-radius: 8px;
  background-color: #F8FAFC;
}
.clients-addnewpopup-item-number .MuiInputBase-root input {
  padding: 10px;
}
.clients-addnewpopup-item-number .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
}
.clients-addnewpopup-item-number .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.clients-addnewpopup-item-number .MuiInputBase-adornedStart {
  padding-left: 10px;
}
.clients-addnewpopup-item-number .MuiInputBase-adornedStart input {
  border-left: 1px solid #e3e3e3;
}
.clients-addnewpopup-item-input .MuiInputBase-root {
  width: 100%;
  border-radius: 8px;
  background-color: #F8FAFC;
}
.clients-addnewpopup-item-input .MuiInputBase-root input {
  padding: 10px;
  height: 35px;
  box-sizing: border-box;
  font-size: 14px;
  color: #444;
  font-family: "OpenSans" !important;
}
.clients-addnewpopup-item-input .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.clients-addnewpopup-item-input .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.clients-addnewpopup-item-project_selection {
  width: 100%;
  text-align: right;
}
.clients-addnewpopup-item-select {
  width: 100%;
}
.clients-addnewpopup-item-select .MuiSelect-select {
  padding: 10px;
  background-color: #F8FAFC;
  height: 35px !important;
  box-sizing: border-box;
  line-height: 1;
  font-size: 14px;
  color: #444;
  font-family: "OpenSans" !important;
  border-radius: 8px;
}
.clients-addnewpopup-item-select .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.clients-addnewpopup-item-select .MuiSvgIcon-root {
  color: #ACACAC;
}
.clients-addnewpopup-item-select.MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.clients-addnewpopup-item-date {
  width: 80%;
  max-width: 380px;
}
.clients-addnewpopup-item-date .MuiFormControl-root {
  width: 100%;
}
.clients-addnewpopup-item-date .MuiFormControl-root .MuiInputBase-input {
  padding: 10px;
  background-color: #F8FAFC;
}
.clients-addnewpopup-item-date .MuiFormControl-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
}
.clients-addnewpopup-item-date .MuiFormControl-root .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.clients-addnewpopup-item.switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  padding-bottom: 10px;
}
.clients-addnewpopup-item.switch p {
  cursor: pointer;
}
.clients-addnewpopup-item.tags {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.clients-addnewpopup-item.tags .MuiInputBase-root {
  width: 100%;
  max-width: unset;
}
.clients-addnewpopup-item.tags .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.clients-addnewpopup-item.tags .MuiSelect-select {
  height: 35px !important;
  box-sizing: border-box;
  background-color: #F8FAFC;
  padding: 10px;
  line-height: 1;
  font-size: 14px;
  color: #444;
  font-family: "OpenSans" !important;
  border-radius: 8px;
}
.clients-addnewpopup-item.tags .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.clients-addnewpopup-item.notes {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.clients-addnewpopup-item.notes .MuiFormControl-root {
  width: 100%;
  max-width: unset;
}
.clients-addnewpopup-item.notes .MuiInputBase-root {
  border-radius: 8px;
  background-color: #F8FAFC;
  width: 100%;
  min-height: 100px;
  align-items: start;
}
.clients-addnewpopup-item.notes .MuiInputBase-root input {
  padding: 10px;
}
.clients-addnewpopup-item.notes .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
}
.clients-addnewpopup-item.notes .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.clients-addnewpopup-item .MuiPaper-root {
  width: 100%;
  color: #93742A;
  background-color: #FCF6EC;
  border-color: #93742A;
  border-radius: 8px;
}
.clients-addnewpopup-item .MuiToggleButtonGroup-root {
  justify-content: end;
  padding: 10px 0;
}
.clients-addnewpopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root {
  background-color: transparent;
  border: unset;
  padding-top: 0;
  padding-bottom: 0;
  text-transform: none;
  font-size: 14px;
}
.clients-addnewpopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root:last-child {
  border-left: 1px solid #51A3FF;
  padding-right: 0;
}
.clients-addnewpopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root.Mui-selected {
  color: #51A3FF;
}
.clients-addnewpopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root:hover {
  background-color: unset;
}
.clients-addnewpopup-item .MuiCheckbox-root.Mui-checked {
  color: #51A3FF;
}
.clients-addnewpopup-item .MuiFormControlLabel-root .MuiTypography-root {
  font-size: 13px;
  font-family: "OpenSans" !important;
}
.clients-addnewpopup-btn {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.clients-addnewpopup-btn-submit.MuiButtonBase-root {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.clients-addnewpopup-btn-submit.MuiButtonBase-root:hover {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
}
.clients-addnewpopup-btn-reset.MuiButtonBase-root {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.clients-addnewpopup-btn-reset.MuiButtonBase-root:hover {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
}

.clients-deletepopup {
  width: 80%;
  max-width: 390px;
  height: auto;
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  box-sizing: border-box;
}
.clients-deletepopup-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 0 10px 0;
  gap: 10px;
}
.clients-deletepopup-header-title {
  color: #444;
  line-height: 22px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.clients-deletepopup-header-subtitle {
  text-align: center;
  color: #888888;
  font-size: 14px;
}
.clients-deletepopup-header-btn .MuiButtonBase-root {
  color: #51A3FF;
}
.clients-deletepopup-content {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 50px;
}
.clients-deletepopup-content-btn {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.clients-deletepopup-content-btn:first-child .MuiButtonBase-root:first-child {
  border: 1px solid #ECECEC;
  color: #888888;
  text-transform: none;
  font-size: 14px;
  padding: 10px 24px;
  border-radius: 50px;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.clients-deletepopup-content-btn:last-child .MuiButtonBase-root:first-child {
  border: 1px solid #FD5162;
  color: #FD5162;
  text-transform: none;
  font-size: 14px;
  padding: 10px 24px;
  border-radius: 50px;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.clients-deletepopup-content-btn:last-child .MuiButtonBase-root:first-child:hover {
  color: #fff;
  background-color: #FD5162;
}

.clients-editinvoicepopup {
  width: 80%;
  max-width: 630px;
  height: auto;
  max-height: 70vh;
  overflow-y: auto;
  background-color: white;
  border-radius: 8px;
  padding: 40px;
  box-sizing: border-box;
}
.clients-editinvoicepopup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ECECEC;
}
.clients-editinvoicepopup-header-title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  color: #51A3FF;
}
.clients-editinvoicepopup-header-title p {
  font-family: "OpenSans" !important;
}
.clients-editinvoicepopup-header-btn .MuiButtonBase-root {
  color: #51A3FF;
}
.clients-editinvoicepopup-list {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
.clients-editinvoicepopup-item {
  padding-bottom: 20px;
}
.clients-editinvoicepopup-item.pb-0 {
  padding-bottom: 0;
}
.clients-editinvoicepopup-item.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clients-editinvoicepopup-item-title {
  width: auto;
  font-size: 14px;
  color: #444;
  font-family: "OpenSans" !important;
}
.clients-editinvoicepopup-item-title.required {
  font-size: 13px;
  margin-top: 27px;
}
.clients-editinvoicepopup-item .MuiFormControl-root {
  width: 80%;
  max-width: 380px;
}
.clients-editinvoicepopup-item-number {
  width: 80%;
  max-width: 380px;
}
.clients-editinvoicepopup-item-number .MuiFormControl-root {
  width: 100%;
}
.clients-editinvoicepopup-item-number .MuiInputBase-root {
  width: 100%;
  border-radius: 8px;
  background-color: #F8FAFC;
}
.clients-editinvoicepopup-item-number .MuiInputBase-root input {
  padding: 10px;
}
.clients-editinvoicepopup-item-number .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
}
.clients-editinvoicepopup-item-number .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.clients-editinvoicepopup-item-number .MuiInputBase-adornedStart {
  padding-left: 10px;
}
.clients-editinvoicepopup-item-number .MuiInputBase-adornedStart input {
  border-left: 1px solid #e3e3e3;
}
.clients-editinvoicepopup-item-input .MuiInputBase-root {
  width: 100%;
  border-radius: 8px;
  background-color: #F8FAFC;
}
.clients-editinvoicepopup-item-input .MuiInputBase-root input {
  padding: 10px;
  height: 35px;
  box-sizing: border-box;
  font-size: 14px;
  color: #444;
  font-family: "OpenSans" !important;
}
.clients-editinvoicepopup-item-input .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.clients-editinvoicepopup-item-input .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.clients-editinvoicepopup-item-project_selection {
  width: 100%;
  text-align: right;
}
.clients-editinvoicepopup-item-select {
  width: 100%;
}
.clients-editinvoicepopup-item-select .MuiSelect-select {
  padding: 10px;
  background-color: #F8FAFC;
  height: 35px !important;
  box-sizing: border-box;
  line-height: 1;
  font-size: 14px;
  color: #444;
  font-family: "OpenSans" !important;
  border-radius: 8px;
}
.clients-editinvoicepopup-item-select .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.clients-editinvoicepopup-item-select .MuiSvgIcon-root {
  color: #ACACAC;
}
.clients-editinvoicepopup-item-select.MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.clients-editinvoicepopup-item-date {
  width: 80%;
  max-width: 380px;
}
.clients-editinvoicepopup-item-date .MuiFormControl-root {
  width: 100%;
}
.clients-editinvoicepopup-item-date .MuiFormControl-root .MuiInputBase-input {
  padding: 10px;
  background-color: #F8FAFC;
}
.clients-editinvoicepopup-item-date .MuiFormControl-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
}
.clients-editinvoicepopup-item-date .MuiFormControl-root .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.clients-editinvoicepopup-item.switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  padding-bottom: 10px;
}
.clients-editinvoicepopup-item.switch p {
  cursor: pointer;
}
.clients-editinvoicepopup-item.tags {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.clients-editinvoicepopup-item.tags .MuiInputBase-root {
  width: 100%;
  max-width: unset;
}
.clients-editinvoicepopup-item.tags .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.clients-editinvoicepopup-item.tags .MuiSelect-select {
  height: 35px !important;
  box-sizing: border-box;
  background-color: #F8FAFC;
  padding: 10px;
  line-height: 1;
  font-size: 14px;
  color: #444;
  font-family: "OpenSans" !important;
  border-radius: 8px;
}
.clients-editinvoicepopup-item.tags .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.clients-editinvoicepopup-item.notes {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.clients-editinvoicepopup-item.notes .MuiFormControl-root {
  width: 100%;
  max-width: unset;
}
.clients-editinvoicepopup-item.notes .MuiInputBase-root {
  border-radius: 8px;
  background-color: #F8FAFC;
  width: 100%;
  min-height: 100px;
  align-items: start;
}
.clients-editinvoicepopup-item.notes .MuiInputBase-root input {
  padding: 10px;
}
.clients-editinvoicepopup-item.notes .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
}
.clients-editinvoicepopup-item.notes .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.clients-editinvoicepopup-item .MuiPaper-root {
  width: 100%;
  color: #93742A;
  background-color: #FCF6EC;
  border-color: #93742A;
  border-radius: 8px;
}
.clients-editinvoicepopup-item .MuiToggleButtonGroup-root {
  justify-content: end;
  padding: 10px 0;
}
.clients-editinvoicepopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root {
  background-color: transparent;
  border: unset;
  padding-top: 0;
  padding-bottom: 0;
  text-transform: none;
  font-size: 14px;
}
.clients-editinvoicepopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root:last-child {
  border-left: 1px solid #51A3FF;
  padding-right: 0;
}
.clients-editinvoicepopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root.Mui-selected {
  color: #51A3FF;
}
.clients-editinvoicepopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root:hover {
  background-color: unset;
}
.clients-editinvoicepopup-item .MuiCheckbox-root.Mui-checked {
  color: #51A3FF;
}
.clients-editinvoicepopup-item .MuiFormControlLabel-root .MuiTypography-root {
  font-size: 13px;
  font-family: "OpenSans" !important;
}
.clients-editinvoicepopup-btn {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.clients-editinvoicepopup-btn-submit.MuiButtonBase-root {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.clients-editinvoicepopup-btn-submit.MuiButtonBase-root:hover {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
}
.clients-editinvoicepopup-btn-reset.MuiButtonBase-root {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.clients-editinvoicepopup-btn-reset.MuiButtonBase-root:hover {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
}

.clients-invoicerecordpopup {
  width: 80%;
  max-width: 580px;
  height: auto;
  background-color: white;
  border-radius: 8px;
  padding: 40px;
  box-sizing: border-box;
}
.clients-invoicerecordpopup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ECECEC;
}
.clients-invoicerecordpopup-header-title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  color: #51A3FF;
}
.clients-invoicerecordpopup-header-title p {
  font-family: "OpenSans" !important;
}
.clients-invoicerecordpopup-header-btn .MuiButtonBase-root {
  color: #51A3FF;
}
.clients-invoicerecordpopup-list {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
.clients-invoicerecordpopup-table {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.clients-invoicerecordpopup-table-body-tr {
  display: flex;
}
.clients-invoicerecordpopup-table-body-tr:not(:last-child) {
  border-bottom: 1px solid #E8E7E4;
}
.clients-invoicerecordpopup-table-body-tr.expense {
  background-color: rgba(176, 176, 176, 0.1019607843);
  border-radius: 0 0 8px 8px;
}
.clients-invoicerecordpopup-table-body-tr.expense .money-invoicerecordpopup-table-body-tr-value {
  font-weight: 600;
}
.clients-invoicerecordpopup-table-body-tr-title {
  width: 50%;
  padding: 15px;
  font-weight: 600;
  color: #333;
  font-size: 13px;
}
.clients-invoicerecordpopup-table-body-tr-value {
  width: 50%;
  padding: 15px;
  color: #444;
  font-size: 13px;
  border-left: 1px solid #E8E7E4;
  text-transform: capitalize;
  display: flex;
  gap: 10px;
}
.clients-invoicerecordpopup-table-body-tr-value .active-label {
  color: #51A3FF;
  background-color: rgba(81, 163, 255, 0.2);
  padding: 5px 15px;
  border-radius: 8px;
}
.clients-invoicerecordpopup-table-body-tr-value .notactive-label {
  color: #A6B5BD;
  background-color: rgba(176, 176, 176, 0.2);
  padding: 5px 15px;
  border-radius: 8px;
}

.clients-sendemailpopup {
  width: 80%;
  max-width: 700px;
  height: auto;
  max-height: 70vh;
  overflow-y: auto;
  background-color: white;
  border-radius: 8px;
  padding: 40px;
  box-sizing: border-box;
}
.clients-sendemailpopup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ECECEC;
}
.clients-sendemailpopup-header-title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  color: #51A3FF;
}
.clients-sendemailpopup-header-title p {
  font-family: "OpenSans" !important;
}
.clients-sendemailpopup-header-btn .MuiButtonBase-root {
  color: #51A3FF;
}
.clients-sendemailpopup-list {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
.clients-sendemailpopup-item {
  padding-bottom: 20px;
}
.clients-sendemailpopup-item.pb-0 {
  padding-bottom: 0;
}
.clients-sendemailpopup-item.flex {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.clients-sendemailpopup-item-title {
  width: auto;
  font-size: 14px;
  color: #444;
  font-family: "OpenSans" !important;
}
.clients-sendemailpopup-item .MuiFormControl-root {
  width: 100%;
  max-width: unset;
}
.clients-sendemailpopup-item-input .MuiInputBase-root {
  width: 100%;
  border-radius: 8px;
  background-color: #F8FAFC;
}
.clients-sendemailpopup-item-input .MuiInputBase-root input {
  padding: 10px;
}
.clients-sendemailpopup-item-input .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
}
.clients-sendemailpopup-item-input .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.clients-sendemailpopup-item-project_selection {
  width: 100%;
  text-align: right;
}
.clients-sendemailpopup-item-select {
  width: 100%;
}
.clients-sendemailpopup-item-select .MuiSelect-select {
  height: 35px !important;
  box-sizing: border-box;
  line-height: 1;
  padding: 10px;
  background-color: #F8FAFC;
  font-family: "OpenSans" !important;
  color: #444;
  font-size: 14px;
  border-radius: 8px;
}
.clients-sendemailpopup-item-select .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.clients-sendemailpopup-item-select .MuiSvgIcon-root {
  color: #ACACAC;
}
.clients-sendemailpopup-item-select.MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.clients-sendemailpopup-item-attach {
  border-color: #D7D7D7 !important;
  border-radius: 8px !important;
  min-height: 130px !important;
  align-items: center;
  display: flex;
  justify-content: center;
}
.clients-sendemailpopup-item-attach .MuiDropzoneArea-textContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
.clients-sendemailpopup-item-attach .MuiDropzoneArea-textContainer .MuiTypography-root.MuiDropzoneArea-text {
  color: #888888;
  font-size: 13px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: "OpenSans" !important;
}
.clients-sendemailpopup-item-attach .MuiDropzoneArea-textContainer img {
  width: 41px;
  height: 41px;
  margin: 0 auto;
}
.clients-sendemailpopup-item.notes {
  display: flex;
  align-items: top;
  justify-content: space-between;
}
.clients-sendemailpopup-item.notes .MuiInputBase-root {
  border-radius: 8px;
  background-color: #F8FAFC;
  width: 100%;
  min-height: 200px;
  align-items: start;
}
.clients-sendemailpopup-item.notes .MuiInputBase-root textarea {
  font-family: "OpenSans" !important;
  color: #444;
  font-size: 14px;
}
.clients-sendemailpopup-item.notes .MuiInputBase-root input {
  padding: 10px;
}
.clients-sendemailpopup-item.notes .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.clients-sendemailpopup-item.notes .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.clients-sendemailpopup-btn {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.clients-sendemailpopup-btn-submit.MuiButtonBase-root {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.clients-sendemailpopup-btn-submit.MuiButtonBase-root:hover {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
}
.clients-sendemailpopup-btn-reset.MuiButtonBase-root {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.clients-sendemailpopup-btn-reset.MuiButtonBase-root:hover {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
}

.clients-companyinfopopup {
  width: 80%;
  max-width: 580px;
  height: auto;
  background-color: white;
  border-radius: 8px;
  padding: 40px;
  box-sizing: border-box;
}
.clients-companyinfopopup-content-logo {
  text-align: center;
  padding-bottom: 15px;
}
.clients-companyinfopopup-content-logo img {
  width: 160px;
}
.clients-companyinfopopup-content-tabs .MuiBox-root {
  height: 32px;
}
.clients-companyinfopopup-content-tabs .MuiTabs-scroller {
  height: 32px;
}
.clients-companyinfopopup-content-tabs-btn.MuiButtonBase-root {
  text-transform: none;
  font-size: 14px;
  padding: 0;
  color: #888;
  font-family: "OpenSans" !important;
  min-width: unset;
  flex: unset;
  min-height: unset;
  height: 22px;
}
.clients-companyinfopopup-content-tabs-btn.MuiButtonBase-root.Mui-selected {
  font-weight: 600;
  color: #51A3FF;
}
.clients-companyinfopopup-content-tabs .MuiTabs-indicator {
  color: #51A3FF;
  background-color: #51A3FF;
}
.clients-companyinfopopup-content-tabs .MuiTabs-flexContainer.MuiTabs-centered {
  justify-content: space-between;
}
.clients-companyinfopopup-content-tab {
  padding: 0 15px;
}
.clients-companyinfopopup-content-tab-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.clients-companyinfopopup-content-tab-info-item {
  display: flex;
  flex-direction: column;
}
.clients-companyinfopopup-content-tab-info-item-title {
  font-size: 13px;
  color: #B4B4B4;
  font-family: "OpenSans" !important;
  line-height: 22px;
}
.clients-companyinfopopup-content-tab-info-item-subtitle {
  font-size: 14px;
  color: #444444;
  font-family: "OpenSans" !important;
  line-height: 22px;
}
.clients-companyinfopopup-content-tab-info-item-subtitle.linked a {
  color: #51A3FF;
}
.clients-companyinfopopup-content-tab-info-item-subtitle.avatar img {
  width: 30px;
  height: 30px;
}
.clients-companyinfopopup-content-tab-info-item.owner .clients-companyinfopopup-content-tab-info-item-subtitle {
  display: flex;
  align-items: center;
  gap: 5px;
}
.clients-companyinfopopup-content-tab-info-item.status .clients-companyinfopopup-content-tab-info-item-subtitle .active {
  padding: 0 10px;
  background-color: #58D8C1;
  color: #ffffff;
  display: inline-block;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
  height: 24px;
  text-align: center;
  line-height: 2;
}
.clients-companyinfopopup-content-tab-info-item.status .clients-companyinfopopup-content-tab-info-item-subtitle .notactive {
  padding: 0 10px;
  background-color: #FD5162;
  color: #ffffff;
  display: inline-block;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
  height: 24px;
  text-align: center;
  line-height: 2;
}
.clients-companyinfopopup-content-tab-info-item.category .clients-companyinfopopup-content-tab-info-item-subtitle .category {
  padding: 0 10px;
  background-color: #51A3FF;
  color: #ffffff;
  display: inline-block;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
  height: 24px;
  text-align: center;
  line-height: 2;
}
.clients-companyinfopopup-content-tab-info-item.tags .clients-companyinfopopup-content-tab-info-item-subtitle {
  display: flex;
  gap: 10px;
}
.clients-companyinfopopup-content-tab-info-item.tags .clients-companyinfopopup-content-tab-info-item-subtitle .MuiChip-root {
  font-size: 12px;
  border-radius: 20px;
  background: #ECECEC;
  height: 24px;
  padding: 0px 12px;
}
.clients-companyinfopopup-content-tab-info-item.tags .clients-companyinfopopup-content-tab-info-item-subtitle .MuiChip-label {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  line-height: 2;
  color: #444;
}
.clients-companyinfopopup-content-tab-project {
  padding-top: 15px;
}
.clients-companyinfopopup-content-tab-project-table {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.clients-companyinfopopup-content-tab-project-table-body-tr {
  display: flex;
}
.clients-companyinfopopup-content-tab-project-table-body-tr:not(:last-child) {
  border-bottom: 1px solid #E8E7E4;
}
.clients-companyinfopopup-content-tab-project-table-body-tr.expense {
  background-color: rgba(176, 176, 176, 0.1019607843);
  border-radius: 0 0 8px 8px;
}
.clients-companyinfopopup-content-tab-project-table-body-tr.expense .money-invoicerecordpopup-table-body-tr-value {
  font-weight: 600;
}
.clients-companyinfopopup-content-tab-project-table-body-tr-title {
  width: 50%;
  padding: 15px;
  font-weight: 600;
  color: #444;
  font-size: 13px;
  width: 170px;
}
.clients-companyinfopopup-content-tab-project-table-body-tr-value {
  width: 50%;
  padding: 15px;
  color: #444;
  font-size: 13px;
  border-left: 1px solid #E8E7E4;
  text-transform: capitalize;
  display: flex;
  gap: 10px;
}
.clients-companyinfopopup-content-tab-project-table-body-tr-value .active-label {
  color: #51A3FF;
  background-color: rgba(81, 163, 255, 0.2);
  padding: 5px 15px;
  border-radius: 8px;
}
.clients-companyinfopopup-content-tab-project-table-body-tr-value .notactive-label {
  color: #A6B5BD;
  background-color: rgba(176, 176, 176, 0.2);
  padding: 5px 15px;
  border-radius: 8px;
}
.clients-companyinfopopup-content-tab-address {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 15px;
}
.clients-companyinfopopup-content-tab-address-item {
  color: #444444;
  font-size: 14px;
  line-height: 22px;
  font-family: "OpenSans" !important;
}
.clients-companyinfopopup-content-tab-other {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 15px;
}
.clients-companyinfopopup-content-tab-other-item {
  display: flex;
  flex-direction: column;
}
.clients-companyinfopopup-content-tab-other-item-title {
  color: #B4B4B4;
  font-size: 13px;
  font-family: "OpenSans" !important;
  line-height: 22px;
}
.clients-companyinfopopup-content-tab-other-item-subtitle {
  color: #444;
  font-size: 14px;
  font-family: "OpenSans" !important;
  line-height: 22px;
}
.clients-companyinfopopup-content-tab-other-item.alert .MuiPaper-root {
  align-items: flex-start;
  border-color: #51A3FF;
  border-radius: 8px;
  position: relative;
}
.clients-companyinfopopup-content-tab-other-item.alert .MuiAlert-message {
  color: #2E6098;
  font-size: 13px;
  font-family: "OpenSans" !important;
}
.clients-companyinfopopup-content-tab-other-item.alert .MuiAlert-message .MuiTypography-root {
  font-size: 16px;
  color: #51A3FF;
  font-family: "OpenSans" !important;
}
.clients-companyinfopopup-content-tab-other-item.alert .MuiAlert-icon {
  color: #51A3FF !important;
}
.clients-companyinfopopup-content-tab-other-item.alert .MuiAlert-action {
  position: absolute;
  right: 20px;
}
.clients-companyinfopopup-content-tab-other-item.alert .MuiAlert-action .MuiButtonBase-root {
  color: #51A3FF;
}/*# sourceMappingURL=clients-popups.css.map */