.isnot-home .setting-popup {
  width: max-content;
  position: relative;
} 

.setting-popup {
    width: auto;
    display: flex;
    z-index: 3;
    flex-direction: row;
    // height: 100%;
    height: calc(100% - 135px);
    max-height: 90vh;
    background-color: #ffffff;
    border-radius: 18px;
    position: fixed;
    transition: all 0.3s ease;
    right: 20px;
    // top: 69px;
    top: 90px;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);

    &-list {
      width: 380px;
      height: 100%;
      display: flex;
      flex-direction: column;
    
      &__header {
        padding: 20px 30px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ececec;
        align-items: center;
    
        &_user {
          display: flex;
          align-items: center;
          gap: 5px;

          &-avatar {

          }

          &-info {
            display: flex;
            flex-direction: column;
            gap: 5px;

            &-name {
              text-transform: capitalize;
            }
            &-mail {
              font-size: 14px;
              color: $cloud-subtitle-color;
            }
          }
        }

        &-actions {
          display: flex;
        }
      }
    
      &__body {
        overflow: hidden;
        // height: calc(100% - 80px);
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &_container {
          height: 100%;

          & .MuiBox-root {
            padding: 0;
            height: 100%;
          }
          & .MuiTypography-root {
            height: 100%;
          }
        }
        

        &-content {
          height: 100%;
          gap: 15px;
          display: flex;
          flex-direction: column;
          overflow-y: auto;

          &_item {
            border-bottom: 1px solid #ececec;
            padding: 20px 30px !important;
            display: flex;
            flex-direction: column;
            gap: 15px;

            & .MuiToggleButtonGroup-root  {
              justify-content: center;
            }

            &-title {

            }

            &-selector {
              flex-direction: column;
              text-transform: none !important;
            }

          }

        }

      }

      &__footer {
        border-top: 1px solid #ececec;
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        &-options {

          &-setting {
            font-size: 1rem !important;
            color: $black !important;
            font-weight: normal !important;
            text-transform: none !important;

            & .MuiSvgIcon-root {
              font-size: 1.5rem !important;
            }
          }
          
          &-logout {
            font-size: 1rem !important;
            color: $red !important;
            font-weight: normal !important;
            text-transform: none !important;

            & .MuiSvgIcon-root {
              font-size: 1.5rem !important;
            }
          }
        }
      }
    }
}

.siteWrapperLG .setting-popup {
  &-list {
    width: 330px;

    &__header {
      padding: 20px;

      &_user {
        &-info {
          &-name {
            font-size: 14px;
          }
          &-mail {
            font-size: 13px;
          }
        }
      }
    }
  
    &__body {
      padding: 20px;

      &-content {
        &_item {
          &-title {
            font-size: 14px;
          }
        }
      }

    }

    &__footer {
      padding: 20px;
      
      &-options {

        &-setting {
          font-size: 14px !important;
        }
        
        &-logout {
          font-size: 14px !important;
        }
      }
    }
  }
}

.siteWrapperMD .setting-popup {
  &-list {
    width: 330px;

    &__header {
      &_user {
        &-info {
          &-name {
            font-size: 14px;
          }
          &-mail {
            font-size: 13px;
          }
        }
      }
    }
  
    &__body {
      &-content {
        &_item {
          &-title {
            font-size: 14px;
          }
        }
      }

    }

    &__footer {
      &-options {

        &-setting {
          font-size: 14px !important;
        }
        
        &-logout {
          font-size: 14px !important;
        }
      }
    }
  }
}

.siteWrapperSM .setting-popup {
  &-list {
    width: 350px;

    &__header {
      &_user {
        &-info {
          &-name {
            font-size: 14px;
          }
          &-mail {
            font-size: 13px;
          }
        }
      }
    }
  
    &__body {
      &-content {
        &_item {
          &-title {
            font-size: 14px;
          }
        }
      }

    }

    &__footer {
      &-options {

        &-setting {
          font-size: 14px !important;
        }
        
        &-logout {
          font-size: 14px !important;
        }
      }
    }
  }
}

.siteWrapperXS .setting-popup {
  &-list {
    width: 350px;

    &__header {
      &_user {
        &-info {
          &-name {
            font-size: 14px;
          }
          &-mail {
            font-size: 13px;
          }
        }
      }
    }
  
    &__body {
      &-content {
        &_item {
          &-title {
            font-size: 14px;
          }
        }
      }

    }

    &__footer {
      &-options {

        &-setting {
          font-size: 14px !important;
        }
        
        &-logout {
          font-size: 14px !important;
        }
      }
    }
  }
}

.dark .setting-popup {
  background-color: $dark-theme-background-color;

  &-list {
    &__header {
      border-color:#7c7c7c;

      &_user {
        &-avatar {

        }

        &-info {
          &-name {
            color: $dark-theme-title-color;
          }
          &-mail {
            color: $dark-theme-subtitle-color;
          }
        }
      }

      &-actions {
        & .MuiSvgIcon-root {
          color: $dark-theme-title-color;
        }
      }
    }
  
    &__body {
      &-content {
        &_item {
          border-color: #7c7c7c;
          &-title {
            color: $dark-theme-title-color;
          }

          &-selector {
            color: $dark-theme-subtitle-color;
            border-color: #7c7c7c;

            &:hover {
              background-color: rgb(255 252 252 / 30%);
            }
          }

          & .Mui-selected {
            color: $dark-theme-title-color;
            background-color: rgb(255 252 252 / 30%);

            &:hover {
              background-color: rgb(255 252 252 / 30%);
            }
          }

        }

      }

    }

    &__footer {
      border-color: #7c7c7c;

      &-options {
        &-setting {
          color: $dark-theme-title-color !important;
        }
        
        &-logout {
          color: #ff4343 !important;
        }
      }
    }
  }  
}
