.create-eventpopup {
  width: 320px;
  padding: 20px;
  box-sizing: border-box;
}
.create-eventpopup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.create-eventpopup-header-title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  color: #51A3FF;
}
.create-eventpopup-header-title p {
  font-family: "OpenSans" !important;
}
.create-eventpopup-header-btn .MuiButtonBase-root {
  color: #51A3FF;
}
.create-eventpopup-list {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.create-eventpopup-item-title {
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
  color: #444;
  font-family: "OpenSans" !important;
}
.create-eventpopup-item .MuiInputBase-root {
  width: 100%;
  border-radius: 8px;
  background-color: #F8FAFC;
  height: 35px;
  box-sizing: border-box;
}
.create-eventpopup-item .MuiInputBase-root input {
  font-size: 13px;
  color: #444;
  padding: 12px 10px 10px 10px;
  height: 35px;
  box-sizing: border-box;
  font-family: "OpenSans" !important;
}
.create-eventpopup-item .MuiInputBase-root input::-moz-placeholder {
  color: #444;
  opacity: 1;
}
.create-eventpopup-item .MuiInputBase-root input::placeholder {
  color: #444;
  opacity: 1;
}
.create-eventpopup-item .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ececec;
}
.create-eventpopup-item .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.create-eventpopup-item-input .MuiInputBase-root {
  width: 100%;
  border-radius: 8px;
  background-color: #F8FAFC;
}
.create-eventpopup-item-input .MuiInputBase-root input {
  padding: 10px;
}
.create-eventpopup-item-input .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ececec;
}
.create-eventpopup-item-input .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.create-eventpopup-item-select {
  width: 100%;
}
.create-eventpopup-item-select .MuiSelect-select {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  color: #444;
  font-family: "OpenSans" !important;
}
.create-eventpopup-item-select .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
}
.create-eventpopup-item-select .MuiSvgIcon-root {
  color: #ACACAC;
}
.create-eventpopup-item-select .color-bullet {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.create-eventpopup-item-select.MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.create-eventpopup-item-checkbox .MuiFormControlLabel-root {
  margin: 0;
}
.create-eventpopup-item-checkbox .MuiFormControlLabel-root .MuiButtonBase-root {
  padding: 0;
}
.create-eventpopup-item-checkbox .MuiFormControlLabel-root .MuiButtonBase-root .MuiSvgIcon-root {
  stroke: #fff;
  font-size: 21px;
}
.create-eventpopup-item-checkbox .MuiFormControlLabel-root .MuiTypography-root {
  font-size: 13px;
  color: #444;
  padding-left: 5px;
}
.create-eventpopup-item-double {
  display: flex;
  gap: 10px;
  width: 100%;
}
.create-eventpopup-item-double .MuiFormControl-root {
  width: 100%;
}
.create-eventpopup-item-double .MuiStack-root {
  width: 100%;
  padding-top: 0;
}
.create-eventpopup-item.note {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.create-eventpopup-item.note .MuiFormControl-root {
  width: 100%;
  max-width: unset;
}
.create-eventpopup-item.note .MuiInputBase-root {
  border-radius: 8px;
  background-color: #F8FAFC;
  width: 100%;
  min-height: 100px;
  align-items: start;
}
.create-eventpopup-item.note .MuiInputBase-root textarea {
  font-family: "OpenSans" !important;
  font-size: 13px;
  color: #444;
}
.create-eventpopup-item.note .MuiInputBase-root input {
  padding: 10px;
}
.create-eventpopup-item.note .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
}
.create-eventpopup-item.note .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.create-eventpopup-item-repeat-days {
  width: 40%;
  height: 35px;
  display: flex;
}
.create-eventpopup-item-repeat-days-decrease {
  background-color: #f0f0f0;
  width: 30px;
  height: 100%;
  border-radius: 8px 0 0 8px;
  border-right: 1px solid #ECECEC;
  cursor: pointer;
}
.create-eventpopup-item-repeat-days-decrease span {
  width: 100%;
  height: 100%;
  display: flex;
  color: #444;
  align-items: center;
  justify-content: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
}
.create-eventpopup-item-repeat-days-number {
  width: calc(100% - 60px);
  height: 100%;
  /* Firefox */
}
.create-eventpopup-item-repeat-days-number input::-webkit-outer-spin-button,
.create-eventpopup-item-repeat-days-number input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.create-eventpopup-item-repeat-days-number input[type=number] {
  -moz-appearance: textfield;
}
.create-eventpopup-item-repeat-days-number input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
  color: #444;
  border: unset;
  background-color: #F8FAFC;
  text-align: center;
}
.create-eventpopup-item-repeat-days-increase {
  background-color: #f0f0f0;
  width: 30px;
  height: 100%;
  border-radius: 0 8px 8px 0;
  border-left: 1px solid #ECECEC;
  cursor: pointer;
}
.create-eventpopup-item-repeat-days-increase span {
  width: 100%;
  height: 100%;
  display: flex;
  color: #444;
  align-items: center;
  justify-content: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
}
.create-eventpopup-item-repeat-loop {
  width: 60%;
  height: 35px;
}
.create-eventpopup-item-end-select {
  width: 60%;
}
.create-eventpopup-item-end-select-radio .MuiFormControlLabel-root {
  width: 100%;
  height: 35px;
  box-sizing: border-box;
}
.create-eventpopup-item-end-select-radio .MuiButtonBase-root {
  width: 30px;
  height: 35px;
  box-sizing: border-box;
}
.create-eventpopup-item-end-select-radio .MuiButtonBase-root.Mui-checked {
  color: #51A3FF;
}
.create-eventpopup-item-end-select-radio .MuiSvgIcon-root {
  font-size: 18px;
}
.create-eventpopup-item-end-select-radio .MuiTypography-root {
  color: #444;
  font-size: 13px;
  font-family: "OpenSans" !important;
}
.create-eventpopup-item-end-data {
  width: 40%;
}
.create-eventpopup-item-end-data .MuiTextField-root {
  padding-top: 35px;
}
.create-eventpopup-item-end-data .MuiFormControl-fullWidth {
  padding-top: 70px;
}
.create-eventpopup-btn {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.create-eventpopup-btn-submit.MuiButtonBase-root {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
  font-size: 14px;
  margin-top: 20px;
}
.create-eventpopup-btn-submit.MuiButtonBase-root:hover {
  text-transform: none;
  color: #fff;
  background-color: #3089dc;
  padding: 10px 24px;
  border-radius: 30px;
}
.create-eventpopup-btn-reset.MuiButtonBase-root {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
  font-size: 14px;
  margin-top: 20px;
}
.create-eventpopup-btn-reset.MuiButtonBase-root:hover {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
}

.settingpopup {
  width: 80%;
  max-width: 620px;
  height: auto;
  max-height: 70vh;
  overflow-y: auto;
  background-color: white;
  border-radius: 8px;
  padding: 40px;
  box-sizing: border-box;
}
.settingpopup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ECECEC;
}
.settingpopup-header-title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  color: #51A3FF;
}
.settingpopup-header-title p {
  font-family: "OpenSans" !important;
}
.settingpopup-header-btn .MuiButtonBase-root {
  color: #51A3FF;
}
.settingpopup-list {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
.settingpopup-item {
  padding-bottom: 20px;
}
.settingpopup-item.pb-0 {
  padding-bottom: 0;
}
.settingpopup-item.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settingpopup-item-title {
  font-size: 14px;
  color: #444;
  width: auto;
  font-family: "OpenSans" !important;
}
.settingpopup-item .MuiFormControl-root {
  width: 100%;
  max-width: 380px;
}
.settingpopup-item-input .MuiInputBase-root {
  width: 100%;
  border-radius: 8px;
  background-color: #F8FAFC;
}
.settingpopup-item-input .MuiInputBase-root input {
  padding: 10px;
  height: 35px;
  box-sizing: border-box;
  font-size: 14px;
  color: #444;
  font-family: "OpenSans" !important;
}
.settingpopup-item-input .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ececec;
}
.settingpopup-item-input .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.settingpopup-item-select {
  width: 100%;
}
.settingpopup-item-select .MuiSelect-select {
  height: 35px !important;
  box-sizing: border-box;
  padding: 10px;
  background-color: #F8FAFC;
  line-height: 1;
  border-radius: 8px;
}
.settingpopup-item-select .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ececec;
}
.settingpopup-item-select .MuiSvgIcon-root {
  color: #ACACAC;
}
.settingpopup-item-select.MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.settingpopup-item-select-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #444;
  font-family: "OpenSans" !important;
}
.settingpopup-item-select-container .bullet {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.settingpopup-item-select-color .circle-picker {
  width: 340px !important;
}
.settingpopup-item-checkbox .MuiFormControlLabel-root {
  margin: 0;
}
.settingpopup-item-checkbox .MuiFormControlLabel-root .MuiButtonBase-root {
  padding: 0;
}
.settingpopup-item-checkbox .MuiFormControlLabel-root .MuiButtonBase-root .MuiSvgIcon-root {
  stroke: #fff;
  font-size: 21px;
}
.settingpopup-item-checkbox .MuiFormControlLabel-root .MuiTypography-root {
  font-size: 13px;
  color: #444;
  padding-left: 5px;
}
.settingpopup-btn {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.settingpopup-btn-submit.MuiButtonBase-root {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.settingpopup-btn-submit.MuiButtonBase-root:hover {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
}
.settingpopup-btn-reset.MuiButtonBase-root {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.settingpopup-btn-reset.MuiButtonBase-root:hover {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
}/*# sourceMappingURL=popups.css.map */