.meeting-page {
  width: 100%;
  padding-bottom: 10px;
  height: 100%;
  padding: 0 10px 10px 10px;
  box-sizing: border-box;
}
.meeting-page .MuiGrid-container {
  margin: 0;
}
.meeting-page .MuiGrid-item {
  padding-top: 0 !important;
}
.meeting-page .MuiGrid-root {
  height: 100%;
}
.meeting-page_details {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}
.meeting-page_details-info {
  display: flex;
  gap: 10px;
}
.meeting-page_details-info button.MuiButtonBase-root {
  width: 114px;
  height: 36px;
  background: rgba(118, 118, 128, 0.12);
  border-radius: 8px;
  box-shadow: unset;
  color: #727272;
  padding: 0;
  text-transform: none;
  font-size: 13px;
}
.meeting-page_details-info button.MuiButtonBase-root:last-child {
  width: 36px;
}
.meeting-page_details-actions {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  background: rgba(248, 250, 252, 0.5);
  border-radius: 8px;
  gap: 18px;
  padding: 0 3px;
  height: 32px;
  box-sizing: border-box;
}
.meeting-page_details-actions-btn {
  height: 32px;
  line-height: 32px;
}
.meeting-page_details-actions-btn .MuiButtonBase-root {
  padding: 4px !important;
  box-sizing: border-box;
}
.meeting-page_details-actions-btn .MuiButtonBase-root:hover {
  background-color: transparent;
}
.meeting-page_details-actions-btn img {
  width: 20px;
  height: 20px;
}
.meeting-page_details-close {
  width: 160px;
}
.meeting-page_sidebar {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100%;
}
.meeting-page_sidebar_open-apps_btn.MuiButtonBase-root {
  background-color: transparent;
  font-size: 15px;
  padding: 10px 30px 10px 5px;
  text-align: center;
  color: #4382C4;
  font-size: 16px;
  border-radius: 8px;
  text-transform: none;
  border: unset;
}
.meeting-page_sidebar_open-apps_btn.MuiButtonBase-root:hover {
  background-color: transparent;
  border: unset;
}
.meeting-page_sidebar_open-apps_item-btn.MuiButtonBase-root {
  font-size: 15px;
  text-align: center;
  text-transform: none;
  color: #000000;
  padding: 5px;
}
.meeting-page_sidebar_open-apps_item-btn.MuiButtonBase-root:hover {
  background-color: transparent;
  border: unset;
}
.meeting-page_sidebar-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}
.meeting-page_sidebar-section_tabs {
  height: 32px;
  min-height: unset !important;
}
.meeting-page_sidebar-section_tabs .MuiTabs-flexContainer {
  background: rgba(248, 250, 252, 0.5);
  border-radius: 30px;
  height: 32px;
  box-sizing: border-box;
}
.meeting-page_sidebar-section_tabs .MuiTabs-indicator {
  display: none;
}
.meeting-page_sidebar-section_tabs-btn.MuiButtonBase-root {
  border-radius: 30px;
  padding: 0;
  min-width: unset;
  padding: 10px 20px;
  min-height: unset;
  max-width: unset;
  height: -moz-fit-content;
  height: fit-content;
  text-transform: none;
  font-size: 13px;
  flex: 1 1 0px;
  color: #6B686A !important;
  height: 32px;
  line-height: 32px;
}
.meeting-page_sidebar-section_tabs-btn.MuiButtonBase-root.Mui-selected {
  background: rgba(118, 118, 128, 0.12);
  color: unset;
}
.meeting-page_sidebar-section_search .MuiFormControl-root {
  width: 100%;
}
.meeting-page_sidebar-section_search_container {
  position: relative;
  color: #666666;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5019607843);
  border-radius: 8px;
  transform: translateX(0);
  transition: all 0.3s ease;
  width: auto;
  padding: 0 13px;
  height: 36px;
}
.meeting-page_sidebar-section_search_container label img {
  width: 18px;
}
.meeting-page_sidebar-section_search-input {
  width: 100%;
  height: 40px;
  font-size: 14px;
  background-color: transparent;
  padding: 0 8px;
  line-height: 33px;
  border: unset;
  transition: all 0.3s ease;
  color: rgba(60, 60, 67, 0.7019607843);
  transform: translateX(0);
}
.meeting-page_sidebar-section_search-input::-moz-placeholder {
  color: rgba(60, 60, 67, 0.7019607843);
}
.meeting-page_sidebar-section_search-input::placeholder {
  color: rgba(60, 60, 67, 0.7019607843);
}
.meeting-page_main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.meeting-page_main-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.meeting-page_main-wrapper .video_host {
  width: 100%;
  height: 100%;
  max-height: 700px;
  box-sizing: border-box;
}
.meeting-page_main-wrapper .video_host video {
  width: 100%;
  border-radius: 8px;
}

.cloud-page__header_meeting-page-details {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  padding-left: 15px;
  box-sizing: border-box;
}
.cloud-page__header_meeting-page-details_view-mode_toggler .MuiButtonBase-root {
  border: unset;
}
.cloud-page__header_meeting-page-details_search .MuiFormControl-root {
  width: 100%;
}
.cloud-page__header_meeting-page-details_search-input {
  border: unset;
  border-radius: 8px;
  padding: 5px 10px;
  background-color: rgba(118, 118, 128, 0.12);
  color: rgba(60, 60, 67, 0.6980392157);
  height: 40px;
}
.cloud-page__header_meeting-page-details_search-input:placeholder {
  color: red;
}
.cloud-page__header_meeting-page-details_search-input::before, .cloud-page__header_meeting-page-details_search-input::after {
  display: none;
}

.shortcut-modal.MuiModal-root {
  z-index: 2;
  top: 45px;
}
.shortcut-modal-container {
  width: 80vw;
  max-width: 800px;
  outline: none;
  box-sizing: border-box;
  height: auto;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.shortcut-modal_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 18px 18px 0 0;
  background-color: #DFE9F8;
  height: 80px;
  box-sizing: border-box;
  padding: 0 20px;
}
.shortcut-modal_header-info {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.shortcut-modal_header-info-icon {
  width: 50px;
  height: 50px;
}
.shortcut-modal_header-info-icon img {
  width: 100%;
  height: 100%;
}
.shortcut-modal_header-info_text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.shortcut-modal_header-info_text-title {
  font-size: 15px;
  color: #000000;
}
.shortcut-modal_header-info_text-subtitle {
  font-size: 12px;
  color: #414141;
}
.shortcut-modal_content {
  width: 100%;
  height: auto;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0 30px 0 30px;
  margin-bottom: -1px;
  border-radius: 0 0 18px 18px;
}
.shortcut-modal_content-calendar {
  padding-top: 12px;
}
.shortcut-modal_content-calendar .react-calendar__navigation {
  height: 35px;
}
.shortcut-modal_content-calendar .react-calendar_tile {
  width: 37px;
  height: 37px;
}
.shortcut-modal_content_task {
  width: 100%;
}
.shortcut-modal_content_task .MuiGrid-root {
  width: 100%;
}
.shortcut-modal_content_task .MuiStack-root {
  width: 100%;
  padding: 0;
}
.shortcut-modal_content_task .MuiFormControl-root {
  min-width: unset !important;
  width: 100%;
  background-color: #F8FAFC;
}
.shortcut-modal_content_task-date .MuiInputBase-input {
  padding: 0 10px;
  height: 41px;
}
.shortcut-modal_content_task-date .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  padding: 10px;
  border-color: #ececec;
}
.shortcut-modal_content_task-date .MuiButtonBase-root {
  background-color: #F8FAFC;
}
.shortcut-modal_content_task-date .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.shortcut-modal_content_task-date.time {
  margin-top: 15px;
}
.shortcut-modal_content_form {
  padding: 28px 30px 0 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.shortcut-modal_content_form .MuiFormControl-root {
  width: 100%;
}
.shortcut-modal_content_form-item-title {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
  color: #000;
}
.shortcut-modal_content_form-item-input input {
  border-radius: 8px;
  background-color: #F8FAFC;
  padding: 10px;
}
.shortcut-modal_content_form-item-input .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ececec;
}
.shortcut-modal_content_form-item-input .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.shortcut-modal_content_form-item-submit {
  text-align: right;
}
.shortcut-modal_content_form-item-submit-btn.MuiButtonBase-root {
  padding: 10px 25px;
  background-color: #51A3FF;
  color: #ffffff;
  border-radius: 30px;
  font-size: 14px;
  text-transform: none;
  line-height: unset;
}
.shortcut-modal_content_form-item-submit-btn.MuiButtonBase-root:hover {
  background-color: #51A3FF;
}
.shortcut-modal_content_submit {
  text-align: right;
  background-color: #ffffff;
  border-radius: 0 0 18px 18px;
  padding: 30px;
}
.shortcut-modal_content_submit-btn.MuiButtonBase-root {
  padding: 10px 24px;
  background-color: #51A3FF;
  color: #ffffff;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  text-transform: none;
  line-height: unset;
  height: 40px;
}
.shortcut-modal_content_submit-btn.MuiButtonBase-root:hover {
  background-color: #51A3FF;
}
.shortcut-modal_footer {
  text-align: right;
  background-color: #ffffff;
  border-radius: 0 0 18px 18px;
  padding: 30px;
}
.shortcut-modal_footer-btn.MuiButtonBase-root {
  padding: 10px 25px;
  background-color: #51A3FF;
  color: #ffffff;
  border-radius: 30px;
  font-size: 14px;
  text-transform: none;
  line-height: unset;
}
.shortcut-modal_footer-btn.MuiButtonBase-root:hover {
  background-color: #51A3FF;
}

.meeting-page-modal-container .grid-content {
  display: grid;
  grid-template-columns: 310px auto;
  gap: 20px;
  height: 100%;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=meeting-page.css.map */