@import "../../../../styles/sass/variables.scss";

.meeting-page {
  width: 100%;
  padding-bottom: 10px;
  height: 75vh;

  & .MuiGrid-container {
    margin: 0;
  }

  & .MuiGrid-item {
    padding-top: 0 !important;
  }

  & .MuiGrid-root {
    height: 100%;
  }

  &_details {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    
    &-info {
        display: flex;
        gap: 10px;

        button.MuiButtonBase-root {
            height: 40px;
            background: rgba(118, 118, 128, 0.12);
            border-radius: 8px;
            box-shadow: unset;
            color: #727272;
            padding: 0 15px;
            text-transform: none;
            font-size: 14px;
        }
    }

    &-actions {
        width: max-content;
        display: flex;
        background: rgba(248, 250, 252, 0.5);
        border-radius: 8px;
        gap: 8px;
        padding: 0 3px;
        height: 40px;
    

        &-btn {
            img {
                width: 25px;
            }
        }
    }
  }

  &_sidebar {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &_open-apps {
      &_btn.MuiButtonBase-root {
        background-color: transparent;
        font-size: 15px;
        padding: 10px 30px 10px 5px;
        text-align: center;
        color: #3089dc;
        border-radius: 8px;
        text-transform: none;
        border: unset;
      }

      &_btn.MuiButtonBase-root:hover {
        background-color: transparent;
        border: unset;
      }

      &_item-btn.MuiButtonBase-root {
        font-size: 15px;
        text-align: center;
        text-transform: none;
        color: #000000;
        padding: 5px;
      }

      &_item-btn.MuiButtonBase-root:hover {
        background-color: transparent;
        border: unset;
      }
    }

    &-section {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &_tabs {
            & .MuiTabs-flexContainer {
                background-color: #EDE9F8;
                border-radius: 30px;
            }

            & .MuiTabs-indicator {
                display: none;
            }

            &-btn.MuiButtonBase-root {
                border-radius: 30px;
                padding: 0;
                min-width: unset;
                padding: 10px 20px;
                min-height: unset;
                height: unset;
                max-width: unset;
                height: fit-content;
                text-transform: none;
                font-size: 13px;
                flex: 1 1 0px;

                &.Mui-selected {
                    background: rgba(118, 118, 128, 0.12);
                    color: unset;
                }
            }
        }

        &_search {
            .MuiFormControl-root {
                width: 100%;
            }
    
            &-input {
                border: unset;
                border-radius: 8px;
                padding: 5px 10px;
                // width: 300px;
                // max-width: 350px;
                background-color: rgba(248, 250, 252, 0.5);
                color: #3C3C43B2;
                height: 40px;
    
                &::before, &::after {
                    display: none;
                }
            }
        }
    }
  }

  &_main {
    height: 100%;
    padding: 0 10px 0 15px;

    &_notes {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border-radius: 8px;

        &-messages {
            height: 100%;
            padding: 24px !important;

            & .MuiBox-root {
                padding: 0 !important;
            }

            &__body {
                display: flex;
                flex-direction: column;

                &-date {
                    text-align: center;
                    margin-bottom: 15px;

                    p {
                        font-size: 14px;
                        color: #6E6F6F;
                    }
                }

                &-content {
                    display: flex;
                    flex-direction: column;

                    &-title {
                    width: 100%;
                    height: auto;
                    color: #363C65;
                    border-radius: 8px;
                    outline: none;
                    width: 100%;
                    box-sizing: border-box;
                    // background-color: #F8FAFC;
                    transition: 0.2s;
                    // border: 1px solid #ECECEC;
                    padding: 10px 8px;
                    font-size: 15px;

                        & .MuiInputBase-root {
                            border-radius: 8px;
                            background-color: #F8FAFC;
                        }
                        
                        & .MuiInput-underline:after {
                            border-bottom-color: green;
                        }
                        
                        & .MuiOutlinedInput-root {
                            & fieldset {
                            border-color: #ECECEC;
                            }

                            &:hover fieldset {
                            border-color: $blue;
                            }

                            &.Mui-focused fieldset {
                            border-color: $blue;
                            }

                            & textarea {
                            height: 100%;
                            }
                        }
                    }

                    &-message {
                    width: 100%;
                    // padding-left: 30px !important;

                        & fieldset {
                            border: unset;
                            padding: 0;
                        }

                        & .MuiInputBase-root {
                            padding: 20px 0 !important;
                            align-items: start !important;
                            height: 100%;
                        }

                        & textarea {
                            height: 100%;
                        }
                    }
                }

                &-submit {
                    text-align: right;
                    padding: 0 30px;
                }

            }
        }
    }
  }
}

.cloud-page__header_meeting-page-details {
    // height: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    padding-left: 15px;
    box-sizing: border-box;

    &_view-mode {
        &_toggler {
            & .MuiButtonBase-root {
                border: unset;
            }
        }
    }

    &_format {

    }

    &_actions {

    }

    &_search {
        // display: block;
        // flex-grow: 1;
        // flex-shrink: 0;
        // width: 100%;

        .MuiFormControl-root {
            width: 100%;
        }

        &-input {
            border: unset;
            border-radius: 8px;
            padding: 5px 10px;
            // width: 300px;
            // max-width: 350px;
            background-color: rgba(118, 118, 128, 0.12);
            color: #3C3C43B2;
            height: 40px;

            &:placeholder{
                color: red;
            }

            &::before, &::after {
                display: none;
            }
        }
    }

}