// @import '../../../styles/sass/variables.scss';

.header {
  height: 45px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5 * $space;
  padding-right: 2 * $space;
  z-index: 3;
  position: fixed;
  // background: rgba(255, 255, 255, 0.5);
  // backdrop-filter: blur(10px);
  // background: rgba(223, 233, 248, 0.5);
  // backdrop-filter: blur(10px);
  // background: rgba(223, 233, 248, 0.5);
  background: #DFE9F880;
  backdrop-filter: blur(10px);
  
  
  &__logo-area {
    &_link {
      display: flex;
      align-items: center;
    }

    &_img {
      width: 115px;
      height: auto;
    }
  }

  &__details-area {
    display: flex;
    position: relative;

    &_searchbar {
      position: relative;
      input::-webkit-input-placeholder, input:-moz-placeholder {
        color: #fff !important;
      }

      &_container {
        position: relative;
        color: #666666;
        margin-left: 0;
        width: 100%;
        margin-right: 10px;
        display: flex;
        align-items: center;
        // background: rgba(240, 242, 245, 0.8);
        background-color: #ffffff80;
        border-radius: 8px;
        transform: translateX(0);
        transition: all 0.3s ease;
        width: auto;
        padding: 0 13px;
        box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.3019607843);

        label img {
          width: 18px;
        }
      }

      &-input {
        width: 215px;
        font-size: 14px;
        background-color: transparent;
        // border-radius: 25px;
        // padding: 0 13px;
        padding: 0 8px;
        height: 33px;
        line-height: 33px;
        border: unset;
        transition: all 0.3s ease;
        color: #3C3C43b3;
        transform: translateX(0);
        // background: rgba(240, 242, 245, 0.8);
        // border-radius: 8px;

        &::placeholder {
          color: #3C3C43b3;
          
        }

        &:focus {
          width: 700px;
          // transform: translateX(45px);
        }
      }

      &-gif {
        width: 30px;
        height: 30px;
        z-index: 1;
      }

      &-globe {
        width: 26px;
        height: 26px;
        border-radius: 16px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &_items {
      display: flex;
      column-gap: 10px;
      z-index: 2;
      background: #ffffff80;
      border-radius: 8px;
      padding: 0 5px;
      box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.3019607843);
    
      &-icon {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        cursor: pointer;
        // background-color: #4382C4;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
          width: 23px;
          height: 23px;
        }
      }
      // &-globe {
      //   width: 32px;
      //   height: 33px;
      //   border-radius: 16px;
      //   cursor: pointer;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
        
      //   img {
      //     width: 100%;
      //     height: 100%;
      //   }
      // }
    }

    &_account {
      display: flex;
      margin-left: 12px;
    
      &-icon {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        cursor: pointer;
        // background-color: #4382C4;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
          width: 23px;
          height: 23px;
        }
      }
    }
  }
}

.dark .header {
  background-color: #5c5c5cb0;
}
