// @import '../../../styles/sass/variables.scss';

.header {
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 70px;
  padding-right: 2 * $space;
  z-index: 9;
  background-color: white;
  position: fixed;
  min-width: $min-width;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.17);
  &__site-name {
    color: $blue;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 24px;
  }
  &__site-logo {
    width: $logo-desktop-width;
    height: auto;
  }
  &__search-bar {
    margin-left: 2 * $space;
    margin-right: 2 * $space;
    padding: $space 3 * $space;
    box-sizing: border-box;
    flex: 1;
    height: calc(100% + 5px);
    align-items: center;
    display: flex;
    background-color: $blue;
    max-width: 1200px;
    border-bottom-left-radius: $border-radius-big;
    border-bottom-right-radius: $border-radius-big;
    &_title {
      font-size: 18px;
      color: white;
      white-space: nowrap;
      margin-right: 4 * $space;
    }
    &_input-container {
      display: flex;
      flex: 1;
      height: calc(100% - 5px);
      position: relative;
    }
    &_input {
      width: 100%;
      height: 100%;
      border-radius: 2 * $space;
      background-color: white;
      padding-left: $space;
      border: none;
    }
    &_button {
      background-color: $orange;
      height: calc(100% - 2px);
      width: 28px;
      position: absolute;
      z-index: 1;
      background-image: url('../../../assets/icons/arrow-right-white.svg');
      border-radius: 100%;
      right: 2px;
      background-size: 15px;
      background-position: center;
      background-repeat: no-repeat;
      top: 2px;
    }
    &_chat {
      cursor: pointer;
      width: 30px;
      height: 30px;
      background-image: url('../../../assets/icons/chat-white.svg');
      background-size: 17px auto;
      margin-left: $space;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      &:after {
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        border: 1px solid white;
        position: absolute;
        top: 20%;
        right: 20%;
        border-radius: 100%;
        background-color: $orange;
      }
    }
  }
  &__language {
    width: 3 * $space;
    height: 3 * $space;
    cursor: pointer;
    background-size: 18px auto;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    margin-left: auto;
  }
  &__notifications {
    width: 2 * $space;
    height: 2 * $space;
    cursor: pointer;
    margin-left: $space;
    background-size: 12px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../assets/icons/notifications.svg');
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 4px;
      height: 4px;
      border: 1px solid white;
      position: absolute;
      top: 10%;
      right: 10%;
      border-radius: 100%;
      background-color: $orange;
    }
  }
  &__profile {
    width: 3 * $space;
    height: 3 * $space;
    cursor: pointer;
    margin-left: $space;
    box-sizing: border-box;
    border: 1px solid $blue;
    border-radius: 100%;
  }
  &__exit {
    width: 2 * $space;
    height: 2 * $space;
    cursor: pointer;
    margin-left: $space;
    background-size: 15px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../assets/icons/exit.svg');
  }
}
