
.menu {
    box-sizing: border-box;
    height: 100vh;
    margin-top: 109px;
    padding-left: 1.5 * $space;
    width: auto;
    position: fixed;

    &__list {
      display: flex;
      flex-direction: column;
      gap: 15px;
      background: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(2px);
      border-radius: 16px;
      padding: 10px;
    }
    &.menuXL {
      .menu__item-img{
        width: 50px;
        height: 50px;
      }
    }
    &.menuLG {
      .menu__item-img{
        width: 35px;
        height: 35px;
      }
    }
    &.menuMD {
      .menu__item-img{
        width: 35px;
        height: 35px;
      }
    }
    &.menuSM {
      .menu__item-img{
        width: 35px;
        height: 35px;
      }
    }
    &.menuXS {
      .menu__item-img{
        width: 35px;
        height: 35px;
      }
    }
    &__item {
      list-style: none;
    }
  }
  