@import "../../../styles/sass/variables.scss";

.tasks-page {
  width: 100%;
  padding-bottom: 10px;
  height: 75vh;

  & .MuiGrid-container {
    margin: 0;
  }

  & .MuiGrid-item {
    padding-top: 0 !important;
  }

  & .MuiGrid-root {
    height: 100%;
  }

  &_main {
    height: 100%;
    padding: 0 10px 0 15px;

    &_list {
        width: 100%;
        height: 100%;
        // background-color: #ffffff;
        // border-radius: 8px;
        box-sizing: border-box;

        .wrapper {
          width: 100%;
          // display: flex;
          height: 100%;
          box-sizing: border-box;  
          display: grid;
          grid-template-columns: 25% 25% 25% 25%;

          & .list-cards {
            // width: 300px;
            background-color: #ebecf0;
            margin-right: 0.5rem;
            border-radius: 5px;

            .input-container {
              width: 100%;
              // max-width: 300px;
              // margin-right: 0.5rem;
            
              .input-content {
                width: 100%;
                // max-width: 300px;
                border-radius: 5px;
                // background-color: #ebecf0;
                padding: 10px;
                box-sizing: border-box;
                
                .add-backlog-btn.MuiButtonBase-root {
                  background-color: #3089dc;
                  width: 100%;
                  padding: 10px;
                  text-align: center;
                  color: #fff;
                  border-radius: 8px;
                  text-transform: none;
                }

              }

              .input-card {
                background-color: #ebecf0;
                padding: 1rem;
                border-radius: 5px;
              
                .input-card-container {
                  width: 100%;
                  margin: auto;
              
                  .input-text {
                    width: 100%;
                    height: 4rem;
              
                    background-color: #fff;
                    padding: 0.5rem;
                    font-size: 15px;
                    border: none;
                    border-bottom: 1px solid #ccc;
              
                    resize: none;
                  }
                }
              
                .confirm {
                  width: 100%;
                  margin: 0.2rem auto;
              
                  display: flex;
                  align-items: center;
              
                  .button-confirm {
                    height: 2rem;
                    width: 6rem;
                    background-color: #525252;
                    cursor: pointer;
                    border: none;
                    border-radius: 7px;
                    color: #fff;
                    font-weight: bold;
                    margin-right: 0.5rem;
              
                    &:hover {
                      background-color: #e22bba;
                    }
                  }
              
                  .button-cancel {
                    background-color: none;
                    border: none;
                    cursor: pointer;
              
                    svg {
                      transition: color 0.3s;
                      &:hover {
                        color: #e22bba;
                      }
                    }
                  }
                }
              }

            }
          
            .title-list {
              padding: 10px;

              & .editable-title-container {
                position: relative;
                display: flex;
              
                .editable-title {
                  height: 1.7rem;
              
                  flex-grow: 1;
                  font-size: 1.2rem;
                  font-weight: bold;
                }
              
                .list-button {
                  height: 1.5rem;
                  border: none;
              
                  cursor: pointer;
              
                  transition: background-color 0.2s;
              
                  &:hover {
                    background-color: #ddd;
                  }
                }
              
                .menu-card {
                  position: absolute;
                  right: 0;
              
                  background-color: #fff;
                  border: 1px solid #ddd;
              
                  border-radius: 4px;
                  z-index: 999;
                  list-style-type: none;
                  cursor: default;
              
                  li {
                    color: #333;
                    font-size: 0.875rem;
                    border-bottom: 1px solid #ddd;
                    padding: 0.5rem 0.5rem 0.3rem;
              
                    &:hover {
                      background-color: #ddd;
                    }
                  }
                }
              }
            }
          
            .container-cards {
              overflow-x: auto;
              // max-height: 55vh;
              padding: 0 1rem;

              & .card-container {
                overflow-y: hidden;
                margin: 0.5rem 0;

                & .card-content {
                  min-height: 2.5rem;
                
                  display: flex;
                  justify-content: space-between;
                  align-items: flex-start;
                
                  margin: 0.5rem 0 0;
                
                  background: #fff;
                  border-radius: 3px;
                  border-bottom: 1px solid #ccc;
                
                  position: relative;
                
                  .card-content-container {
                    width: 100%;
                    height: 100%;
                
                    // display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                
                    font-size: 15px;
                
                    transition: background-color 0.1s;
                    position: relative;
                
                    div {
                      padding: 0.7rem 0.5rem 0.5rem;
                
                      max-width: 90%;
                      overflow: hidden;
                      word-wrap: break-word;
                    }

                    .card-content_title {

                    }

                    .card-content_description {

                    }

                    .card-content_tags {
                        display: flex;
                        gap: 6px;

                      .card-content_tag {
                        font-size: 12px;
                        background-color: #EBEDF1;
                        padding: 5px 10px;
                        display: inline-block;
                        color: #727272;
                        border-radius: 30px;

                      }
                    }

                    .card-content_actions {
                      display: flex;
                      position: absolute;
                      right: 0;
                      top: 0;
                      opacity: 0;
                      visibility: hidden;
                      padding: 5px;

                      button.MuiButtonBase-root {
                        padding: 5px;
                        background-color: #fff;

                        &:hover {
                          background-color: #d7d6d6;
                        }

                        .MuiSvgIcon-root {
                          font-size: 20px;
                        }
                      }
                    }

                    
                    &:hover {
                      .card-content_actions {
                        opacity: 1;
                        visibility: visible;
                      }
                    }
                  }
                
                  .input-card-title {
                    width: 100%;
                    height: 100%;
                
                    padding: 0.7rem 0.5rem 0.5rem;
                
                    resize: none;
                    overflow: hidden;
                
                    border-color: transparent;
                    border-radius: 3px;
                    font-size: 15px;
                
                    transition: border-color 0.2s;
                
                    &:focus {
                      border: 1px solid #e22bba;
                    }
                  }
                }
              }
            }
          }
        }
    }
  }
}

.add-backlog-modal {
  
  &_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
  }

  & .MuiFormGroup-root {
    gap: 15px;
  }

  &_item {
    width: 100%;

    .MuiFormControl-root {
      width: 100%;
    }

    & .submit-backlog-btn.MuiButtonBase-root {
      background-color: #3089dc;
      width: 100%;
      padding: 10px;
      text-align: center;
      color: #fff;
      border-radius: 8px;
      text-transform: none;
    }
  }
}




