.react-calendar {
  border: none !important;
  width: 100% !important;
  height: 100%;

  &__navigation {
    margin-bottom: 0;
    height: 44px;
    justify-content: space-between;
    display: flex;

    &__next2-button, &__prev2-button {
      display: none;
    }

    & button{
      min-width: 44px;
      background: none;
      color: $gray-text;
    }

    & button[disabled] {
      background-color: transparent;
    }

    &__label {
      flex-grow: 0 !important;
       font-size: 16px;
     }

     &__arrow {
      font-size: 23px;
      line-height: 0;
      // padding-bottom: 0.1em;
    }
  }

  &__navigation button:enabled:hover,
  &__tile:enabled:hover {
      // background-color: $delimiter;
      abbr {
        background-color: $delimiter;
      }
  }

  &__month-view__weekdays {
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }
  &__month-view__days__day--weekend {
    color: #d10000;
  }
  &__month-view__weekdays__weekday {
    text-transform: none;
    padding: 0.5em 0;
    color: $gray-text;
    font-size: 12px;
    abbr {
      text-decoration: none;
    }
  }
  &__tile {
    background: none;
    font-size: 14px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    abbr {
      // width: inherit;
      // height: inherit;
      // line-height: 40px;
      border-radius: 100%;
      display: inline-block;
      padding: 8px;
    }
  }
  &__tile--active {
    // background-color: #006edc;
    color: #fff;

    abbr {
      background-color: #006edc;
    }
    &:enabled:hover {
      // background-color: #006edc;
      abbr {
        background-color: #006edc;
      }
    }
  }

  &__month-view__days {
    &__day--neighboringMonth {
      color: #B8B8B8;
    }
  }
}


.dark .react-calendar {

  &__navigation {
    & button{
      color: $dark-theme-title-color;
    }
  }

  &__navigation button:enabled:hover,
  &__tile:enabled:hover {
      background-color: $dark-theme-subtitle-color;
  }

  &__month-view__weekdays__weekday {
    color: $dark-theme-subtitle-color;
  }
}

.layoutLG {
  .react-calendar {
    &__navigation {
      height: 30px;
    }

    &__tile {
      font-size: 13px;
      height: 43px;

      abbr {
      }
    }
  }
}
  