.invoices-filterpopup {
  width: 320px;
  padding: 20px;
  box-sizing: border-box;
}
.invoices-filterpopup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.invoices-filterpopup-header-title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  color: #51A3FF;
}
.invoices-filterpopup-header-title p {
  font-family: "OpenSans" !important;
}
.invoices-filterpopup-header-btn .MuiButtonBase-root {
  color: #51A3FF;
}
.invoices-filterpopup-list {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.invoices-filterpopup-item-title {
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
  color: #444;
  font-family: "OpenSans" !important;
}
.invoices-filterpopup-item .MuiInputBase-root {
  width: 100%;
  border-radius: 8px;
  background-color: #F8FAFC;
  height: 35px;
  box-sizing: border-box;
}
.invoices-filterpopup-item .MuiInputBase-root input {
  font-size: 13px;
  color: #444;
  padding: 10px;
  font-family: "OpenSans" !important;
  height: 35px !important;
  box-sizing: border-box;
}
.invoices-filterpopup-item .MuiInputBase-root input::-moz-placeholder {
  color: #444;
  opacity: 1;
  font-size: 13px;
}
.invoices-filterpopup-item .MuiInputBase-root input::placeholder {
  color: #444;
  opacity: 1;
  font-size: 13px;
}
.invoices-filterpopup-item .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-filterpopup-item .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-filterpopup-item-select {
  width: 100%;
}
.invoices-filterpopup-item-select .MuiSelect-select {
  padding: 10px;
  color: #444;
  font-size: 13px;
}
.invoices-filterpopup-item-select .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-filterpopup-item-select .MuiSvgIcon-root {
  color: #ACACAC;
}
.invoices-filterpopup-item-select.MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-filterpopup-item-double {
  display: flex;
  gap: 10px;
}
.invoices-filterpopup-item-double .MuiInputBase-adornedStart {
  padding-left: 10px;
}
.invoices-filterpopup-item-double .MuiInputBase-adornedStart input {
  box-sizing: border-box;
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  border-left: 1px solid #ECECEC;
}
.invoices-filterpopup-item-double .MuiInputBase-adornedStart .MuiTypography-body1 {
  font-size: 14px;
  color: #ACACAC;
}
.invoices-filterpopup-btn {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.invoices-filterpopup-btn-submit.MuiButtonBase-root {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.invoices-filterpopup-btn-submit.MuiButtonBase-root:hover {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
}
.invoices-filterpopup-btn-reset.MuiButtonBase-root {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.invoices-filterpopup-btn-reset.MuiButtonBase-root:hover {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
}

.invoices-addnewpopup {
  width: 80%;
  max-width: 580px;
  height: auto;
  max-height: 70vh;
  overflow-y: auto;
  background-color: white;
  border-radius: 8px;
  padding: 40px;
  box-sizing: border-box;
}
.invoices-addnewpopup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ECECEC;
}
.invoices-addnewpopup-header-title {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #51A3FF;
  font-family: "OpenSans" !important;
}
.invoices-addnewpopup-header-btn .MuiButtonBase-root {
  color: #51A3FF;
}
.invoices-addnewpopup-list {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
.invoices-addnewpopup-item {
  padding-bottom: 20px;
}
.invoices-addnewpopup-item.pb-0 {
  padding-bottom: 0;
}
.invoices-addnewpopup-item.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invoices-addnewpopup-item-title {
  font-size: 14px;
  color: #444;
  width: auto;
  font-family: "OpenSans" !important;
}
.invoices-addnewpopup-item .MuiFormControl-root {
  width: 80%;
  max-width: 380px;
}
.invoices-addnewpopup-item input {
  height: 35px;
  box-sizing: border-box;
  font-family: "OpenSans" !important;
  font-size: 14px;
  color: #444;
  border-radius: 8px;
}
.invoices-addnewpopup-item-input .MuiInputBase-root {
  width: 100%;
  border-radius: 8px;
  background-color: #F8FAFC;
}
.invoices-addnewpopup-item-input .MuiInputBase-root input {
  padding: 10px;
}
.invoices-addnewpopup-item-input .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-addnewpopup-item-input .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-addnewpopup-item-project_selection {
  width: 100%;
  text-align: right;
}
.invoices-addnewpopup-item-select {
  width: 100%;
}
.invoices-addnewpopup-item-select .MuiSelect-select {
  height: 35px !important;
  box-sizing: border-box;
  padding: 10px;
  background-color: #F8FAFC;
  line-height: 1;
  font-family: "OpenSans" !important;
  font-size: 14px;
  color: #444;
  border-radius: 8px;
}
.invoices-addnewpopup-item-select .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-addnewpopup-item-select .MuiSvgIcon-root {
  color: #ACACAC;
}
.invoices-addnewpopup-item-select.MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-addnewpopup-item-date {
  width: 80%;
  max-width: 380px;
}
.invoices-addnewpopup-item-date .MuiFormControl-root {
  width: 100%;
}
.invoices-addnewpopup-item-date .MuiFormControl-root .MuiInputBase-input {
  padding: 10px;
  background-color: #F8FAFC;
}
.invoices-addnewpopup-item-date .MuiFormControl-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-addnewpopup-item-date .MuiFormControl-root .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-addnewpopup-item.switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invoices-addnewpopup-item.switch p {
  cursor: pointer;
}
.invoices-addnewpopup-item.tags {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.invoices-addnewpopup-item.tags .MuiInputBase-root {
  height: 35px !important;
  box-sizing: border-box;
  width: 100%;
}
.invoices-addnewpopup-item.tags .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-addnewpopup-item.tags .MuiSelect-select {
  background-color: #F8FAFC;
  padding: 10px;
  font-family: "OpenSans" !important;
  font-size: 14px;
  color: #444;
  height: 35px;
  box-sizing: border-box;
  line-height: 15px;
  border-radius: 8px;
}
.invoices-addnewpopup-item.tags .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-addnewpopup-item.notes {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.invoices-addnewpopup-item.notes .MuiFormControl-root {
  max-width: unset;
  width: 100%;
}
.invoices-addnewpopup-item.notes .MuiInputBase-root {
  border-radius: 8px;
  background-color: #F8FAFC;
  width: 100%;
  min-height: 100px;
  align-items: start;
}
.invoices-addnewpopup-item.notes .MuiInputBase-root input {
  padding: 10px;
}
.invoices-addnewpopup-item.notes .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-addnewpopup-item.notes .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-addnewpopup-item.terms {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 30px;
}
.invoices-addnewpopup-item.terms .MuiFormControl-root {
  max-width: unset;
  width: 100%;
}
.invoices-addnewpopup-item.terms .MuiInputBase-root {
  border-radius: 8px;
  background-color: #F8FAFC;
  width: 100%;
  min-height: 100px;
  align-items: start;
}
.invoices-addnewpopup-item.terms .MuiInputBase-root input {
  padding: 10px;
}
.invoices-addnewpopup-item.terms .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-addnewpopup-item.terms .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-addnewpopup-item .MuiPaper-root {
  font-size: 13px;
  width: 100%;
  padding: 8px;
  color: #93742A;
  background-color: #FCF6EC;
  border-color: #AB8C3F;
  border-radius: 8px;
  height: 50px;
  box-sizing: border-box;
}
.invoices-addnewpopup-item .MuiPaper-root .MuiAlert-message {
  font-family: "OpenSans" !important;
}
.invoices-addnewpopup-item .MuiToggleButtonGroup-root {
  justify-content: end;
  padding: 10px 0;
}
.invoices-addnewpopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root {
  background-color: transparent;
  border: unset;
  padding-top: 0;
  padding-bottom: 0;
  text-transform: none;
  font-size: 13px;
  color: #444;
}
.invoices-addnewpopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root:last-child {
  border-left: 1px solid #51A3FF;
  padding-right: 0;
}
.invoices-addnewpopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root.Mui-selected {
  color: #51A3FF;
}
.invoices-addnewpopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root:hover {
  background-color: unset;
}
.invoices-addnewpopup-btn {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.invoices-addnewpopup-btn-submit.MuiButtonBase-root {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.invoices-addnewpopup-btn-submit.MuiButtonBase-root:hover {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
}
.invoices-addnewpopup-btn-reset.MuiButtonBase-root {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.invoices-addnewpopup-btn-reset.MuiButtonBase-root:hover {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
}

.invoices-deletepopup {
  width: 80%;
  max-width: 390px;
  height: auto;
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  box-sizing: border-box;
}
.invoices-deletepopup-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 0 10px 0;
  gap: 15px;
}
.invoices-deletepopup-header-title {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #444;
}
.invoices-deletepopup-header-subtitle {
  font-size: 14px;
  text-align: center;
  color: #888888;
}
.invoices-deletepopup-header-btn .MuiButtonBase-root {
  color: #51A3FF;
}
.invoices-deletepopup-content {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 50px;
}
.invoices-deletepopup-content-btn {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.invoices-deletepopup-content-btn:first-child .MuiButtonBase-root:first-child {
  border: 1px solid #ECECEC;
  color: #888888;
  text-transform: none;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
}
.invoices-deletepopup-content-btn:last-child .MuiButtonBase-root:first-child {
  border: 1px solid #FD5162;
  color: #FD5162;
  text-transform: none;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
}
.invoices-deletepopup-content-btn:last-child .MuiButtonBase-root:first-child:hover {
  color: #fff;
  background-color: #FD5162;
}

.invoices-editinvoicepopup {
  width: 80%;
  max-width: 630px;
  height: auto;
  max-height: 70vh;
  overflow-y: auto;
  background-color: white;
  border-radius: 8px;
  padding: 40px;
  box-sizing: border-box;
}
.invoices-editinvoicepopup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ECECEC;
}
.invoices-editinvoicepopup-header-title {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #51A3FF;
  font-family: "OpenSans" !important;
}
.invoices-editinvoicepopup-header-btn .MuiButtonBase-root {
  color: #51A3FF;
}
.invoices-editinvoicepopup-info {
  padding: 20px 0;
  display: flex;
  justify-content: end;
}
.invoices-editinvoicepopup-info-creator {
  padding-right: 10px;
  color: #888888;
  font-size: 12px;
}
.invoices-editinvoicepopup-info-creator span {
  font-weight: 500;
}
.invoices-editinvoicepopup-info-date {
  padding-left: 10px;
  color: #888888;
  font-size: 12px;
  border-left: 1px solid #888888;
}
.invoices-editinvoicepopup-list {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
.invoices-editinvoicepopup-item {
  padding-bottom: 20px;
}
.invoices-editinvoicepopup-item.pb-0 {
  padding-bottom: 0;
}
.invoices-editinvoicepopup-item.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invoices-editinvoicepopup-item-title {
  font-size: 14px;
  color: #444;
  width: auto;
  font-family: "OpenSans" !important;
}
.invoices-editinvoicepopup-item .MuiFormControl-root {
  width: 80%;
  max-width: 380px;
}
.invoices-editinvoicepopup-item input {
  height: 35px;
  box-sizing: border-box;
  font-family: "OpenSans" !important;
  font-size: 14px;
  color: #444;
  border-radius: 8px;
}
.invoices-editinvoicepopup-item-input .MuiInputBase-root {
  width: 100%;
  border-radius: 8px;
  background-color: #F8FAFC;
}
.invoices-editinvoicepopup-item-input .MuiInputBase-root input {
  padding: 10px;
}
.invoices-editinvoicepopup-item-input .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-editinvoicepopup-item-input .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-editinvoicepopup-item-project_selection {
  width: 100%;
  text-align: right;
}
.invoices-editinvoicepopup-item-select {
  width: 100%;
}
.invoices-editinvoicepopup-item-select .MuiSelect-select {
  height: 35px !important;
  box-sizing: border-box;
  padding: 10px;
  background-color: #F8FAFC;
  line-height: 1;
  font-family: "OpenSans" !important;
  font-size: 14px;
  color: #444;
  border-radius: 8px;
}
.invoices-editinvoicepopup-item-select .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-editinvoicepopup-item-select .MuiSvgIcon-root {
  color: #ACACAC;
}
.invoices-editinvoicepopup-item-select.MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-editinvoicepopup-item-date {
  width: 80%;
  max-width: 380px;
}
.invoices-editinvoicepopup-item-date .MuiFormControl-root {
  width: 100%;
}
.invoices-editinvoicepopup-item-date .MuiFormControl-root .MuiInputBase-input {
  padding: 10px;
  background-color: #F8FAFC;
}
.invoices-editinvoicepopup-item-date .MuiFormControl-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-editinvoicepopup-item-date .MuiFormControl-root .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-editinvoicepopup-item.switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invoices-editinvoicepopup-item.switch p {
  cursor: pointer;
}
.invoices-editinvoicepopup-item.tags {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.invoices-editinvoicepopup-item.tags .MuiInputBase-root {
  height: 35px !important;
  box-sizing: border-box;
  width: 100%;
}
.invoices-editinvoicepopup-item.tags .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-editinvoicepopup-item.tags .MuiSelect-select {
  background-color: #F8FAFC;
  padding: 10px;
  font-family: "OpenSans" !important;
  font-size: 14px;
  color: #444;
  height: 35px;
  box-sizing: border-box;
  border-radius: 8px;
}
.invoices-editinvoicepopup-item.tags .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-editinvoicepopup-item.notes {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.invoices-editinvoicepopup-item.notes .MuiFormControl-root {
  max-width: unset;
  width: 100%;
}
.invoices-editinvoicepopup-item.notes .MuiInputBase-root {
  border-radius: 8px;
  background-color: #F8FAFC;
  width: 100%;
  min-height: 100px;
  align-items: start;
}
.invoices-editinvoicepopup-item.notes .MuiInputBase-root input {
  padding: 10px;
}
.invoices-editinvoicepopup-item.notes .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-editinvoicepopup-item.notes .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-editinvoicepopup-item.terms {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 30px;
}
.invoices-editinvoicepopup-item.terms .MuiFormControl-root {
  max-width: unset;
  width: 100%;
}
.invoices-editinvoicepopup-item.terms .MuiInputBase-root {
  border-radius: 8px;
  background-color: #F8FAFC;
  width: 100%;
  min-height: 100px;
  align-items: start;
}
.invoices-editinvoicepopup-item.terms .MuiInputBase-root input {
  padding: 10px;
}
.invoices-editinvoicepopup-item.terms .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-editinvoicepopup-item.terms .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-editinvoicepopup-item .MuiPaper-root {
  font-size: 13px;
  width: 100%;
  padding: 8px;
  color: #93742A;
  background-color: #FCF6EC;
  border-color: #AB8C3F;
  border-radius: 8px;
  height: 50px;
  box-sizing: border-box;
}
.invoices-editinvoicepopup-item .MuiPaper-root .MuiAlert-message {
  font-family: "OpenSans" !important;
}
.invoices-editinvoicepopup-item .MuiToggleButtonGroup-root {
  justify-content: end;
  padding: 10px 0;
}
.invoices-editinvoicepopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root {
  background-color: transparent;
  border: unset;
  padding-top: 0;
  padding-bottom: 0;
  text-transform: none;
  font-size: 13px;
  color: #444;
}
.invoices-editinvoicepopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root:last-child {
  border-left: 1px solid #51A3FF;
  padding-right: 0;
}
.invoices-editinvoicepopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root.Mui-selected {
  color: #51A3FF;
}
.invoices-editinvoicepopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root:hover {
  background-color: unset;
}
.invoices-editinvoicepopup-btn {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.invoices-editinvoicepopup-btn-submit.MuiButtonBase-root {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.invoices-editinvoicepopup-btn-submit.MuiButtonBase-root:hover {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
}
.invoices-editinvoicepopup-btn-reset.MuiButtonBase-root {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.invoices-editinvoicepopup-btn-reset.MuiButtonBase-root:hover {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
}

.invoices-sendemailpopup {
  width: 80%;
  max-width: 500px;
  height: auto;
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  box-sizing: border-box;
}
.invoices-sendemailpopup-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 0 10px 0;
  gap: 15px;
}
.invoices-sendemailpopup-header-title {
  text-align: center;
  font-size: 20px;
  color: #444;
  font-weight: 400;
}
.invoices-sendemailpopup-header-subtitle {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #888888;
}
.invoices-sendemailpopup-header-btn .MuiButtonBase-root {
  color: #51A3FF;
}
.invoices-sendemailpopup-content {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 50px;
}
.invoices-sendemailpopup-content-btn {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.invoices-sendemailpopup-content-btn:first-child .MuiButtonBase-root:first-child {
  border: 1px solid #ECECEC;
  color: #888888;
  text-transform: none;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  height: 40px;
  box-sizing: border-box;
  font-family: "OpenSans" !important;
}
.invoices-sendemailpopup-content-btn:last-child .MuiButtonBase-root:first-child {
  border: 1px solid #3AB29E;
  color: #3AB29E;
  text-transform: none;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  height: 40px;
  box-sizing: border-box;
  font-family: "OpenSans" !important;
}
.invoices-sendemailpopup-content-btn:last-child .MuiButtonBase-root:first-child:hover {
  color: #fff;
  background-color: #3AB29E;
}

.invoices-addpaymentpopup {
  width: 80%;
  max-width: 630px;
  height: auto;
  max-height: 70vh;
  overflow-y: auto;
  background-color: white;
  border-radius: 8px;
  padding: 40px;
  box-sizing: border-box;
}
.invoices-addpaymentpopup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ECECEC;
}
.invoices-addpaymentpopup-header-title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  color: #51A3FF;
}
.invoices-addpaymentpopup-header-title p {
  font-family: "OpenSans" !important;
}
.invoices-addpaymentpopup-header-btn .MuiButtonBase-root {
  color: #51A3FF;
}
.invoices-addpaymentpopup-list {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
.invoices-addpaymentpopup-item {
  padding-bottom: 20px;
}
.invoices-addpaymentpopup-item.pb-0 {
  padding-bottom: 0;
}
.invoices-addpaymentpopup-item input::-moz-placeholder {
  color: #444;
  font-size: 14px;
}
.invoices-addpaymentpopup-item input::placeholder {
  color: #444;
  font-size: 14px;
}
.invoices-addpaymentpopup-item.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invoices-addpaymentpopup-item-title {
  width: auto;
  font-size: 14px;
  color: #444;
}
.invoices-addpaymentpopup-item .MuiFormControl-root {
  width: 80%;
  max-width: 380px;
}
.invoices-addpaymentpopup-item-input .MuiInputBase-root {
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #F8FAFC;
}
.invoices-addpaymentpopup-item-input .MuiInputBase-root input {
  padding: 10px;
  color: #444;
  font-size: 14px;
}
.invoices-addpaymentpopup-item-input .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-addpaymentpopup-item-input .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-addpaymentpopup-item-project_selection {
  width: 100%;
  text-align: right;
}
.invoices-addpaymentpopup-item-select {
  width: 100%;
}
.invoices-addpaymentpopup-item-select .MuiSelect-select {
  height: 35px !important;
  box-sizing: border-box;
  padding: 10px;
  background-color: #F8FAFC;
  font-size: 14px;
  line-height: 15px;
  color: #444;
  border-radius: 8px;
}
.invoices-addpaymentpopup-item-select .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-addpaymentpopup-item-select .MuiSvgIcon-root {
  color: #ACACAC;
}
.invoices-addpaymentpopup-item-select.MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-addpaymentpopup-item-date {
  width: 80%;
  max-width: 380px;
}
.invoices-addpaymentpopup-item-date .MuiFormControl-root {
  width: 100%;
}
.invoices-addpaymentpopup-item-date .MuiFormControl-root .MuiInputBase-input {
  height: 35px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #F8FAFC;
  font-size: 14px;
  color: #444;
  border-radius: 8px;
}
.invoices-addpaymentpopup-item-date .MuiFormControl-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-addpaymentpopup-item-date .MuiFormControl-root .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-addpaymentpopup-item.switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invoices-addpaymentpopup-item.switch p {
  cursor: pointer;
}
.invoices-addpaymentpopup-item.tags {
  display: flex;
  align-items: center;
}
.invoices-addpaymentpopup-item.tags .MuiInputBase-root {
  width: 80%;
}
.invoices-addpaymentpopup-item.tags .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-addpaymentpopup-item.tags .MuiSelect-select {
  background-color: #F8FAFC;
  padding: 10px;
}
.invoices-addpaymentpopup-item.tags .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-addpaymentpopup-item.notes {
  display: flex;
  align-items: top;
  justify-content: space-between;
}
.invoices-addpaymentpopup-item.notes .MuiFormControl-root {
  width: 100%;
  max-width: unset;
}
.invoices-addpaymentpopup-item.notes .notif {
  color: #888;
  text-align: center;
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  line-height: 22px;
  font-family: "OpenSans" !important;
}
.invoices-addpaymentpopup-item.notes .MuiInputBase-root {
  border-radius: 8px;
  background-color: #F8FAFC;
  width: 100%;
  min-height: 100px;
  align-items: start;
}
.invoices-addpaymentpopup-item.notes .MuiInputBase-root input {
  padding: 10px;
}
.invoices-addpaymentpopup-item.notes .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-addpaymentpopup-item.notes .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-addpaymentpopup-item-price {
  width: 80%;
  max-width: 380px;
}
.invoices-addpaymentpopup-item-price .MuiFormControl-root {
  width: 100%;
}
.invoices-addpaymentpopup-item-price .MuiInputBase-adornedStart {
  padding-left: 10px;
}
.invoices-addpaymentpopup-item-price .MuiInputBase-adornedStart .MuiTypography-body1 {
  font-size: 14px;
  color: #ACACAC;
}
.invoices-addpaymentpopup-item-price .MuiInputBase-adornedStart input {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  box-sizing: border-box;
  border-left: 1px solid #ececec;
}
.invoices-addpaymentpopup-item .MuiPaper-root {
  width: 100%;
  color: #93742A;
  background-color: #FCF6EC;
  border-color: #93742A;
  border-radius: 8px;
}
.invoices-addpaymentpopup-item .MuiToggleButtonGroup-root {
  justify-content: end;
  padding: 10px 0;
}
.invoices-addpaymentpopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root {
  background-color: transparent;
  border: unset;
  padding-top: 0;
  padding-bottom: 0;
  text-transform: none;
  font-size: 14px;
}
.invoices-addpaymentpopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root:last-child {
  border-left: 1px solid #51A3FF;
  padding-right: 0;
}
.invoices-addpaymentpopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root.Mui-selected {
  color: #51A3FF;
}
.invoices-addpaymentpopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root:hover {
  background-color: unset;
}
.invoices-addpaymentpopup-item .MuiCheckbox-root.Mui-checked {
  color: #51A3FF;
}
.invoices-addpaymentpopup-item .MuiFormControlLabel-root .MuiTypography-root {
  font-size: 13px;
  color: #888;
}
.invoices-addpaymentpopup-btn {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.invoices-addpaymentpopup-btn-submit.MuiButtonBase-root {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.invoices-addpaymentpopup-btn-submit.MuiButtonBase-root:hover {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
}
.invoices-addpaymentpopup-btn-reset.MuiButtonBase-root {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.invoices-addpaymentpopup-btn-reset.MuiButtonBase-root:hover {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
}

.invoices-cloneinvoicepopup {
  width: 80%;
  max-width: 630px;
  height: auto;
  max-height: 70vh;
  overflow-y: auto;
  background-color: white;
  border-radius: 8px;
  padding: 40px;
  box-sizing: border-box;
}
.invoices-cloneinvoicepopup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ECECEC;
}
.invoices-cloneinvoicepopup-header-title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  color: #51A3FF;
}
.invoices-cloneinvoicepopup-header-title p {
  font-family: "OpenSans" !important;
}
.invoices-cloneinvoicepopup-header-btn .MuiButtonBase-root {
  color: #51A3FF;
}
.invoices-cloneinvoicepopup-list {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
.invoices-cloneinvoicepopup-item {
  padding-bottom: 20px;
}
.invoices-cloneinvoicepopup-item.pb-0 {
  padding-bottom: 0;
}
.invoices-cloneinvoicepopup-item.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invoices-cloneinvoicepopup-item-title {
  width: auto;
  font-size: 14px;
  color: #444;
  font-family: "OpenSans" !important;
}
.invoices-cloneinvoicepopup-item .MuiFormControl-root {
  width: 80%;
  max-width: 380px;
}
.invoices-cloneinvoicepopup-item-input .MuiInputBase-root {
  width: 100%;
  border-radius: 8px;
  background-color: #F8FAFC;
}
.invoices-cloneinvoicepopup-item-input .MuiInputBase-root input {
  padding: 10px;
}
.invoices-cloneinvoicepopup-item-input .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-cloneinvoicepopup-item-input .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-cloneinvoicepopup-item-project_selection {
  width: 100%;
  text-align: right;
}
.invoices-cloneinvoicepopup-item-select {
  width: 100%;
}
.invoices-cloneinvoicepopup-item-select .MuiSelect-select {
  height: 35px !important;
  box-sizing: border-box;
  padding: 10px;
  background-color: #F8FAFC;
  font-size: 14px;
  color: #444;
  line-height: 1;
  font-family: "OpenSans" !important;
  border-radius: 8px;
}
.invoices-cloneinvoicepopup-item-select .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-cloneinvoicepopup-item-select .MuiSvgIcon-root {
  color: #ACACAC;
}
.invoices-cloneinvoicepopup-item-select.MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-cloneinvoicepopup-item-date {
  width: 80%;
  max-width: 380px;
}
.invoices-cloneinvoicepopup-item-date .MuiFormControl-root {
  width: 100%;
}
.invoices-cloneinvoicepopup-item-date .MuiFormControl-root .MuiInputBase-input {
  height: 35px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #F8FAFC;
  font-size: 14px;
  color: #444;
  font-family: "OpenSans" !important;
  border-radius: 8px;
}
.invoices-cloneinvoicepopup-item-date .MuiFormControl-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-cloneinvoicepopup-item-date .MuiFormControl-root .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-cloneinvoicepopup-item.switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invoices-cloneinvoicepopup-item.switch p {
  cursor: pointer;
}
.invoices-cloneinvoicepopup-item.tags {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invoices-cloneinvoicepopup-item.tags .MuiInputBase-root {
  width: 80%;
  max-width: 380px;
}
.invoices-cloneinvoicepopup-item.tags .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-cloneinvoicepopup-item.tags .MuiSelect-select {
  height: 35px !important;
  box-sizing: border-box;
  background-color: #F8FAFC;
  padding: 10px;
  font-size: 14px;
  color: #444;
  line-height: 1;
  font-family: "OpenSans" !important;
  border-radius: 8px;
}
.invoices-cloneinvoicepopup-item.tags .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-cloneinvoicepopup-item.notes {
  display: flex;
  align-items: top;
}
.invoices-cloneinvoicepopup-item.notes .MuiInputBase-root {
  border-radius: 8px;
  background-color: #F8FAFC;
  width: 100%;
  min-height: 100px;
  align-items: start;
}
.invoices-cloneinvoicepopup-item.notes .MuiInputBase-root input {
  padding: 10px;
}
.invoices-cloneinvoicepopup-item.notes .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-cloneinvoicepopup-item.notes .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-cloneinvoicepopup-item .MuiPaper-root {
  width: 100%;
  color: #93742A;
  background-color: #FCF6EC;
  border-color: #93742A;
  border-radius: 8px;
}
.invoices-cloneinvoicepopup-item .MuiToggleButtonGroup-root {
  justify-content: end;
  padding: 10px 0;
}
.invoices-cloneinvoicepopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root {
  background-color: transparent;
  border: unset;
  padding-top: 0;
  padding-bottom: 0;
  text-transform: none;
  font-size: 14px;
}
.invoices-cloneinvoicepopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root:last-child {
  border-left: 1px solid #51A3FF;
  padding-right: 0;
}
.invoices-cloneinvoicepopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root.Mui-selected {
  color: #51A3FF;
}
.invoices-cloneinvoicepopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root:hover {
  background-color: unset;
}
.invoices-cloneinvoicepopup-btn {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.invoices-cloneinvoicepopup-btn-submit.MuiButtonBase-root {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.invoices-cloneinvoicepopup-btn-submit.MuiButtonBase-root:hover {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
}
.invoices-cloneinvoicepopup-btn-reset.MuiButtonBase-root {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.invoices-cloneinvoicepopup-btn-reset.MuiButtonBase-root:hover {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
}

.invoices-changepopup {
  width: 80%;
  max-width: 580px;
  height: auto;
  max-height: 70vh;
  overflow-y: auto;
  background-color: white;
  border-radius: 8px;
  padding: 40px;
  box-sizing: border-box;
}
.invoices-changepopup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ECECEC;
}
.invoices-changepopup-header-title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  color: #51A3FF;
}
.invoices-changepopup-header-title p {
  font-family: "OpenSans" !important;
}
.invoices-changepopup-header-btn .MuiButtonBase-root {
  color: #51A3FF;
}
.invoices-changepopup-list {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
.invoices-changepopup-item {
  padding-bottom: 20px;
}
.invoices-changepopup-item.pb-0 {
  padding-bottom: 0;
}
.invoices-changepopup-item.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invoices-changepopup-item-title {
  width: auto;
  font-size: 14px;
  color: #444;
  font-family: "OpenSans" !important;
}
.invoices-changepopup-item .MuiFormControl-root {
  width: 80%;
  max-width: 380px;
}
.invoices-changepopup-item-select {
  width: 100%;
}
.invoices-changepopup-item-select .MuiSelect-select {
  height: 35px !important;
  box-sizing: border-box;
  padding: 10px;
  background-color: #F8FAFC;
  font-size: 14px;
  color: #444;
  line-height: 1;
  font-family: "OpenSans" !important;
}
.invoices-changepopup-item-select .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-changepopup-item-select .MuiSvgIcon-root {
  color: #ACACAC;
}
.invoices-changepopup-item-select.MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-changepopup-item .MuiPaper-root {
  width: 100%;
  color: #93742A;
  background-color: #FCF6EC;
  border-color: #93742A;
  border-radius: 8px;
}
.invoices-changepopup-item .MuiToggleButtonGroup-root {
  justify-content: end;
  padding: 10px 0;
}
.invoices-changepopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root {
  background-color: transparent;
  border: unset;
  padding-top: 0;
  padding-bottom: 0;
  text-transform: none;
  font-size: 14px;
}
.invoices-changepopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root:last-child {
  border-left: 1px solid #51A3FF;
  padding-right: 0;
}
.invoices-changepopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root.Mui-selected {
  color: #51A3FF;
}
.invoices-changepopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root:hover {
  background-color: unset;
}
.invoices-changepopup-btn {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.invoices-changepopup-btn-submit.MuiButtonBase-root {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.invoices-changepopup-btn-submit.MuiButtonBase-root:hover {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
}
.invoices-changepopup-btn-reset.MuiButtonBase-root {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.invoices-changepopup-btn-reset.MuiButtonBase-root:hover {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
}

.invoices-attachpopup {
  width: 80%;
  max-width: 580px;
  height: auto;
  max-height: 70vh;
  overflow-y: auto;
  background-color: white;
  border-radius: 8px;
  padding: 40px;
  box-sizing: border-box;
}
.invoices-attachpopup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ECECEC;
}
.invoices-attachpopup-header-title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  color: #51A3FF;
}
.invoices-attachpopup-header-title p {
  font-family: "OpenSans" !important;
}
.invoices-attachpopup-header-btn .MuiButtonBase-root {
  color: #51A3FF;
}
.invoices-attachpopup-list {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
.invoices-attachpopup-item {
  padding-bottom: 20px;
}
.invoices-attachpopup-item.pb-0 {
  padding-bottom: 0;
}
.invoices-attachpopup-item.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invoices-attachpopup-item-title {
  width: auto;
  font-size: 14px;
  color: #444;
  font-family: "OpenSans" !important;
}
.invoices-attachpopup-item .MuiFormControl-root {
  width: 80%;
  max-width: 380px;
}
.invoices-attachpopup-item-select {
  width: 100%;
}
.invoices-attachpopup-item-select .MuiSelect-select {
  height: 35px !important;
  box-sizing: border-box;
  padding: 10px;
  background-color: #F8FAFC;
  font-size: 14px;
  color: #444;
  line-height: 1;
  font-family: "OpenSans" !important;
}
.invoices-attachpopup-item-select .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-attachpopup-item-select .MuiSvgIcon-root {
  color: #ACACAC;
}
.invoices-attachpopup-item-select.MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-attachpopup-item .MuiPaper-root {
  width: 100%;
  color: #93742A;
  background-color: #FCF6EC;
  border-color: #93742A;
  border-radius: 8px;
}
.invoices-attachpopup-item .MuiToggleButtonGroup-root {
  justify-content: end;
  padding: 10px 0;
}
.invoices-attachpopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root {
  background-color: transparent;
  border: unset;
  padding-top: 0;
  padding-bottom: 0;
  text-transform: none;
  font-size: 14px;
}
.invoices-attachpopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root:last-child {
  border-left: 1px solid #51A3FF;
  padding-right: 0;
}
.invoices-attachpopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root.Mui-selected {
  color: #51A3FF;
}
.invoices-attachpopup-item .MuiToggleButtonGroup-root .MuiButtonBase-root:hover {
  background-color: unset;
}
.invoices-attachpopup-btn {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.invoices-attachpopup-btn-submit.MuiButtonBase-root {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.invoices-attachpopup-btn-submit.MuiButtonBase-root:hover {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
}
.invoices-attachpopup-btn-reset.MuiButtonBase-root {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.invoices-attachpopup-btn-reset.MuiButtonBase-root:hover {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
}

.invoices-detachpopup {
  width: 80%;
  max-width: 390px;
  height: auto;
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  box-sizing: border-box;
}
.invoices-detachpopup-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 0 10px 0;
  gap: 15px;
}
.invoices-detachpopup-header-title {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #444;
}
.invoices-detachpopup-header-subtitle {
  font-size: 14px;
  text-align: center;
  color: #888888;
}
.invoices-detachpopup-header-subtitle p {
  line-height: 22px;
}
.invoices-detachpopup-header-btn .MuiButtonBase-root {
  color: #51A3FF;
}
.invoices-detachpopup-content {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 50px;
}
.invoices-detachpopup-content-btn {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.invoices-detachpopup-content-btn:first-child .MuiButtonBase-root:first-child {
  border: 1px solid #ECECEC;
  color: #888888;
  text-transform: none;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  height: 40px;
  line-height: 40px;
  font-weight: 400 !important;
  font-family: "OpenSans" !important;
}
.invoices-detachpopup-content-btn:last-child .MuiButtonBase-root:first-child {
  border: 1px solid #FD5162;
  color: #FD5162;
  text-transform: none;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  height: 40px;
  line-height: 40px;
  font-weight: 600 !important;
  font-family: "OpenSans" !important;
}
.invoices-detachpopup-content-btn:last-child .MuiButtonBase-root:first-child:hover {
  color: #fff;
  background-color: #FD5162;
}

.invoices-recurringsettingpopup {
  width: 80%;
  max-width: 580px;
  height: auto;
  max-height: 70vh;
  overflow-y: auto;
  background-color: white;
  border-radius: 8px;
  padding: 40px;
  box-sizing: border-box;
}
.invoices-recurringsettingpopup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ECECEC;
}
.invoices-recurringsettingpopup-header-title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  color: #51A3FF;
}
.invoices-recurringsettingpopup-header-title p {
  font-family: "OpenSans" !important;
}
.invoices-recurringsettingpopup-header-btn .MuiButtonBase-root {
  color: #51A3FF;
}
.invoices-recurringsettingpopup-list {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
.invoices-recurringsettingpopup-item {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.invoices-recurringsettingpopup-item-title {
  font-size: 14px;
  color: #444;
  line-height: 22px;
  font-family: "OpenSans" !important;
}
.invoices-recurringsettingpopup-item-double {
  display: flex;
  gap: 20px;
}
.invoices-recurringsettingpopup-item-double-container {
  width: 50%;
}
.invoices-recurringsettingpopup-item-tooltip {
  color: #51A3FF !important;
}
.invoices-recurringsettingpopup-item-alert .MuiPaper-root {
  border-color: #51A3FF;
  border-radius: 8px;
  align-items: flex-start;
}
.invoices-recurringsettingpopup-item-alert .MuiAlert-message {
  color: #2E6098;
  font-size: 13px;
}
.invoices-recurringsettingpopup-item-alert .MuiAlert-message .MuiTypography-root {
  color: #51A3FF;
  font-size: 16px;
  font-family: "OpenSans" !important;
  font-weight: 400;
}
.invoices-recurringsettingpopup-item-alert .MuiAlert-icon {
  color: #51A3FF !important;
}
.invoices-recurringsettingpopup-item-alert .MuiAlert-action .MuiButtonBase-root {
  color: #51A3FF;
}
.invoices-recurringsettingpopup-item.pb-0 {
  padding-bottom: 0;
}
.invoices-recurringsettingpopup-item .MuiFormControl-root {
  width: 100%;
}
.invoices-recurringsettingpopup-item-select {
  width: 100%;
}
.invoices-recurringsettingpopup-item-select .MuiSelect-select {
  padding: 10px;
  background-color: #F8FAFC;
  color: #444;
  font-size: 14px;
  font-family: "OpenSans" !important;
  height: 35px !important;
  box-sizing: border-box;
  line-height: 15px;
  border-radius: 8px;
}
.invoices-recurringsettingpopup-item-select .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-recurringsettingpopup-item-select .MuiSvgIcon-root {
  color: #ACACAC;
}
.invoices-recurringsettingpopup-item-select.MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-recurringsettingpopup-item-date {
  width: 100%;
}
.invoices-recurringsettingpopup-item-date .MuiFormControl-root {
  width: 100%;
}
.invoices-recurringsettingpopup-item-date .MuiFormControl-root .MuiInputBase-input {
  padding: 10px;
  background-color: #F8FAFC;
  font-size: 14px;
  color: #444;
  font-family: "OpenSans" !important;
  height: 35px;
  box-sizing: border-box;
  line-height: 15px;
  border-radius: 8px;
}
.invoices-recurringsettingpopup-item-date .MuiFormControl-root .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
  border-color: #ECECEC;
}
.invoices-recurringsettingpopup-item-date .MuiFormControl-root .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2;
}
.invoices-recurringsettingpopup-btn {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.invoices-recurringsettingpopup-btn-submit.MuiButtonBase-root {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.invoices-recurringsettingpopup-btn-submit.MuiButtonBase-root:hover {
  text-transform: none;
  color: #fff;
  background-color: #51A3FF;
  padding: 10px 24px;
  border-radius: 30px;
}
.invoices-recurringsettingpopup-btn-reset.MuiButtonBase-root {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
  font-size: 14px;
  margin-top: 20px;
  font-family: "OpenSans" !important;
  height: 40px;
  box-sizing: border-box;
}
.invoices-recurringsettingpopup-btn-reset.MuiButtonBase-root:hover {
  text-transform: none;
  color: #888888;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid #cdcdcd;
}

.invoices-invoicerecordpopup {
  width: 80%;
  max-width: 600px;
  height: auto;
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  box-sizing: border-box;
}
.invoices-invoicerecordpopup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ECECEC;
}
.invoices-invoicerecordpopup-header-title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  color: #51A3FF;
}
.invoices-invoicerecordpopup-header-title p {
  font-family: "OpenSans" !important;
}
.invoices-invoicerecordpopup-header-btn .MuiButtonBase-root {
  color: #51A3FF;
}
.invoices-invoicerecordpopup-list {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
.invoices-invoicerecordpopup-table {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.invoices-invoicerecordpopup-table-body-tr {
  display: flex;
}
.invoices-invoicerecordpopup-table-body-tr:not(:last-child) {
  border-bottom: 1px solid #E8E7E4;
}
.invoices-invoicerecordpopup-table-body-tr-title {
  width: 50%;
  padding: 15px;
  font-weight: 600;
  color: #333;
  font-size: 13px;
}
.invoices-invoicerecordpopup-table-body-tr-value {
  width: 50%;
  padding: 15px;
  color: #444;
  font-size: 13px;
  border-left: 1px solid #E8E7E4;
  text-transform: capitalize;
}/*# sourceMappingURL=invoices-popups.css.map */