.siteWrapperLG .cloud-page.work-drive-cloud-page {
  margin: 0 auto;
}

.chonky-chonkyRoot {
  border: unset !important;
  background-color: unset !important;
  padding: 0 !important;
}
.chonky-chonkyRoot .cloud-page__header_work-drive-page-details_search {
  display: flex;
  flex-direction: column-reverse;
}
.chonky-chonkyRoot .MuiGrid-container {
  align-items: start;
}
.chonky-chonkyRoot .chonky-toolbarWrapper .chonky-toolbarContainer {
  align-items: center;
  justify-content: space-between;
}
.chonky-chonkyRoot .chonky-toolbarWrapper .chonky-toolbarContainer .MuiButton-root {
  color: #727272 !important;
  padding: 0px 15px;
}
.chonky-chonkyRoot .chonky-toolbarWrapper .chonky-toolbarContainer .MuiButton-root.chonky-activeButton {
  color: #4382c4 !important;
}
.chonky-chonkyRoot .chonky-toolbarWrapper .chonky-toolbarContainer .chonky-toolbarLeft {
  max-width: 35%;
}
.chonky-chonkyRoot .chonky-toolbarWrapper .chonky-toolbarContainer .chonky-toolbarLeft .chonky-infoContainer {
  display: none;
}
.chonky-chonkyRoot .chonky-toolbarWrapper .chonky-toolbarContainer .chonky-toolbarLeft .chonky-infoContainer .chonky-infoText {
  width: -moz-max-content;
  width: max-content;
}
.chonky-chonkyRoot .chonky-toolbarWrapper .chonky-toolbarContainer .chonky-toolbarLeft .chonky-searchFieldContainer {
  height: auto !important;
  max-width: 350px;
}
.chonky-chonkyRoot .chonky-toolbarWrapper .chonky-toolbarContainer .chonky-toolbarLeft .chonky-searchFieldContainer .MuiInputBase-root {
  border: unset;
  border-radius: 8px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.5019607843);
  height: 36px;
  color: rgba(60, 60, 67, 0.6980392157);
  width: 310px;
  margin: 0;
  padding-left: 10px !important;
}
.chonky-chonkyRoot .chonky-toolbarWrapper .chonky-toolbarContainer .chonky-toolbarLeft .chonky-searchFieldContainer .MuiInputBase-root .MuiInputAdornment-root {
  width: 18px;
  height: 18px;
  background: url("../../../assets/images/header/new-icons/search.svg") center center no-repeat;
  background-size: cover;
}
.chonky-chonkyRoot .chonky-toolbarWrapper .chonky-toolbarContainer .chonky-toolbarLeft .chonky-searchFieldContainer .MuiInputBase-root .MuiInputAdornment-root svg {
  display: none;
}
.chonky-chonkyRoot .chonky-toolbarWrapper .chonky-toolbarContainer .chonky-toolbarLeft .chonky-searchFieldContainer .MuiInputBase-root::before, .chonky-chonkyRoot .chonky-toolbarWrapper .chonky-toolbarContainer .chonky-toolbarLeft .chonky-searchFieldContainer .MuiInputBase-root::after {
  display: none;
}
.chonky-chonkyRoot .chonky-toolbarWrapper .chonky-toolbarContainer .chonky-toolbarLeft .chonky-searchFieldContainer .MuiInputBase-root .MuiInputBase-input {
  color: rgba(60, 60, 67, 0.6980392157);
  opacity: 1;
  font-size: 15px !important;
}
.chonky-chonkyRoot .chonky-toolbarWrapper .chonky-toolbarContainer .chonky-toolbarLeft .chonky-searchFieldContainer .MuiInputBase-root .MuiInputBase-input::-moz-placeholder {
  color: rgba(60, 60, 67, 0.6980392157);
  opacity: 1;
}
.chonky-chonkyRoot .chonky-toolbarWrapper .chonky-toolbarContainer .chonky-toolbarLeft .chonky-searchFieldContainer .MuiInputBase-root .MuiInputBase-input::placeholder {
  color: rgba(60, 60, 67, 0.6980392157);
  opacity: 1;
}
.chonky-chonkyRoot .chonky-toolbarWrapper .chonky-toolbarContainer .chonky-toolbarLeft .chonky-searchFieldContainer .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline, .chonky-chonkyRoot .chonky-toolbarWrapper .chonky-toolbarContainer .chonky-toolbarLeft .chonky-searchFieldContainer .MuiOutlinedInput-notchedOutline {
  border: unset !important;
}
.chonky-chonkyRoot .chonky-toolbarWrapper .chonky-toolbarContainer .chonky-toolbarRight {
  gap: 10px;
}
.chonky-chonkyRoot .chonky-toolbarWrapper .chonky-toolbarContainer .chonky-toolbarRight button:nth-child(1) {
  display: none;
}
.chonky-chonkyRoot .chonky-toolbarWrapper .chonky-toolbarContainer .chonky-toolbarRight button:nth-child(4) {
  display: none;
}
.chonky-chonkyRoot .chonky-toolbarWrapper .chonky-toolbarContainer .chonky-toolbarRight button:nth-child(2) svg {
  width: 25px;
  height: 25px;
  background: url("../../../assets/images/work-drive/list.svg") center center no-repeat;
  margin-top: 10px;
}
.chonky-chonkyRoot .chonky-toolbarWrapper .chonky-toolbarContainer .chonky-toolbarRight button:nth-child(2) svg path {
  display: none;
}
.chonky-chonkyRoot .chonky-toolbarWrapper .chonky-toolbarContainer .chonky-toolbarRight button:nth-child(3) svg {
  width: 20px;
  height: 20px;
  background: url("../../../assets/images/work-drive/grid.svg") center center no-repeat;
  margin-top: 10px;
}
.chonky-chonkyRoot .chonky-toolbarWrapper .chonky-toolbarContainer .chonky-toolbarRight button:nth-child(3) svg path {
  display: none;
}
.chonky-chonkyRoot .chonky-navbarWrapper .MuiButton-root {
  color: #555555 !important;
}
.chonky-chonkyRoot .chonky-navbarWrapper .MuiButton-root.Mui-disabled {
  color: #ADABA8 !important;
}
.chonky-chonkyRoot .chonky-fileListWrapper {
  padding: 20px;
  padding-top: 0;
  box-sizing: border-box;
  height: calc(100% - 50px);
}
.chonky-chonkyRoot .chonky-fileListWrapper .chonky-gridContainer {
  margin-top: 30px;
}
.chonky-chonkyRoot .chonky-fileListWrapper .chonky-gridContainer > div {
  width: 100% !important;
  height: 100% !important;
}
.chonky-chonkyRoot .chonky-fileListWrapper .chonky-gridContainer > div > div {
  padding-right: 15px !important;
  padding-bottom: 15px !important;
}
.chonky-chonkyRoot .chonky-fileListWrapper .chonky-gridContainer [class^=fillParent-] [class^=gridFileEntry-] {
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 10px 15px;
  box-sizing: border-box;
  justify-content: space-around;
  cursor: pointer;
  border: 1px solid #F2F2F2;
}
.chonky-chonkyRoot .chonky-fileListWrapper .chonky-gridContainer [class^=fillParent-] [class^=gridFileEntry-] [class^=previewFile-] {
  width: 50%;
  height: 50%;
  flex-grow: unset;
}
.chonky-chonkyRoot .chonky-fileListWrapper .chonky-gridContainer [class^=fillParent-] [class^=gridFileEntry-] [class^=previewFile-] [class^=folderBackSideMid-] {
  box-shadow: unset;
  background-color: unset;
}
.chonky-chonkyRoot .chonky-fileListWrapper .chonky-gridContainer [class^=fillParent-] [class^=gridFileEntry-] [class^=previewFile-] [class^=folderBackSideTop-] {
  background-color: #4382C4;
  box-shadow: unset;
  top: -8px;
  left: 0px;
  right: 60%;
  height: 8px;
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 10px;
  width: 50%;
}
.chonky-chonkyRoot .chonky-fileListWrapper .chonky-gridContainer [class^=fillParent-] [class^=gridFileEntry-] [class^=previewFile-] [class^=folderFrontSide-] {
  box-shadow: unset;
  background-color: #4382C4;
  inset: 0px 0px 0px;
  overflow: hidden;
  position: absolute;
  border-radius: 0px 5px 5px 5px;
}
.chonky-chonkyRoot .chonky-fileListWrapper .chonky-gridContainer [class^=fillParent-] [class^=gridFileEntryNameContainer-] {
  text-align: left;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  color: #333333;
  padding-top: 0;
  height: 18px;
}
.chonky-chonkyRoot .chonky-fileListWrapper .chonky-gridContainer [class^=fillParent-] [class^=gridFileEntryNameContainer-] span {
  padding: 0 !important;
  color: #333333;
}
.chonky-chonkyRoot .chonky-fileListWrapper [class^=listContainer-] [class^=listFileEntry-] {
  cursor: pointer;
}
.chonky-chonkyRoot .chonky-fileListWrapper [class^=listContainer-] [class^=listFileEntry-] [class^=listFileEntryName-] {
  color: #333;
  line-height: 22px;
  font-size: 15px;
}
.chonky-chonkyRoot .chonky-fileListWrapper [class^=listContainer-] [class^=listFileEntry-] [class^=listFileEntryProperty-] {
  text-align: left;
}
.chonky-chonkyRoot .chonky-fileListWrapper [class^=listContainer-] [class^=listFileEntry-] div:nth-child(3) {
  order: 1;
}
.chonky-chonkyRoot .chonky-fileListWrapper [class^=listContainer-] [class^=listFileEntry-] div:nth-child(4) {
  order: 2;
}
.chonky-chonkyRoot .chonky-fileListWrapper [class^=listContainer-] [class^=listFileEntry-] div:nth-child(5) {
  order: 4;
  flex: 0 1 170px;
  color: #333;
  font-size: 15px;
}
.chonky-chonkyRoot .chonky-fileListWrapper [class^=listContainer-] [class^=listFileEntry-] div:nth-child(6) {
  order: 3;
  flex: 0 1 120px;
}
.chonky-chonkyRoot .chonky-fileListWrapper [class^=listContainer-] > div {
  height: 100% !important;
  overflow: auto;
}
.chonky-chonkyRoot .chonky-fileListWrapper [class^=listContainer-] > div div:not([class]) {
  height: 45px !important;
  position: relative !important;
  top: 0 !important;
}
.chonky-chonkyRoot .chonky-fileListWrapper [class^=listContainer-] [class^=selectionIndicator-] {
  background: #F5F5F5;
  opacity: 1;
}
.chonky-chonkyRoot .chonky-fileListWrapper .fileIcon-0-2-31 {
  opacity: 1 !important;
}
.chonky-chonkyRoot .chonky-fileListWrapper [class^=selectionIndicator-] {
  background: rgba(48, 137, 220, 0.3803921569);
}/*# sourceMappingURL=custom-chonky.css.map */