@import "../../../styles/sass/variables.scss";

.notes-page {
  width: 100%;
  padding-bottom: 10px;
//   height: 75vh;
  height: 100%;

  & .MuiGrid-container {
    margin: 0;
  }

  & .MuiGrid-item {
    padding-top: 0 !important;
  }

  & .MuiGrid-root {
    height: 100%;
  }

  &_sidebar {
    padding: 0 5px 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;

    &_create-event {
      &_btn.MuiButtonBase-root {
        background-color: $blue;
        width: 100%;
        padding: 10px;
        text-align: center;
        color: #fff;
        border-radius: 8px;
        text-transform: none;
      }

      &_btn.MuiButtonBase-root:hover {
        background-color: $blue;
      }
    }

    &-section {
        height: calc(100% - 65px);

        &_notes-list {
            height: 100%;
            
            & .MuiTabs-flexContainer {
                flex-direction: column-reverse;
            }
        }

        &_notes-item{
        
            &.MuiButtonBase-root {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 15px;
                text-transform: unset;
                flex-direction: row;
                padding: 15px 20px;
                border-radius: 8px;
                max-width: unset;
                // border-bottom: 1px solid #ECECEC;

                &:hover {
                    background-color: #4382C41A;
                }
            }

            &_content {
                overflow: hidden;
                text-align: left;

                &_name {
                    font-size: 15px;
                    color: #000000;
                    font-weight: 500;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    box-sizing: border-box;
                    margin-bottom: 6px;
                }

                &_message {
                    font-size: 14px;
                    font-weight: 400;
                    color: #6e6f6f;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    box-sizing: border-box;

                    span:first-child {
                        color: #333333;
                    }

                    span:last-child {
                        color: #989898;
                        margin-left: 7px;
                    }
                }
            }

            &_actions {
                transition: all 0.3s ease;
                display: none;
            }

            &:hover {
                .notes-page_sidebar-section_notes-item_actions{
                    display: flex;
                }

                .notes-page_sidebar-section_notes-item_content {
                    &_name {
                        color: $blue;
                    }
    
                    &_message {
                        color: $blue;
                    }
                    
                    & span {
                        color: $blue;
                    }
                }
            }
        }
    }
  }

  &_main {
    height: 100%;
    padding: 0 10px 0 15px;

    &_notes {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border-radius: 8px;

        &-messages {
            height: 100%;
            padding: 24px !important;
            box-sizing: border-box;

            & .MuiBox-root {
                padding: 0 !important;
            }

            &__body {
                display: flex;
                flex-direction: column;

                &-date {
                    text-align: center;
                    margin-bottom: 15px;

                    p {
                        font-size: 14px;
                        color: #6E6F6F;
                    }
                }

                &-content {
                    display: flex;
                    flex-direction: column;

                    &-title {
                    width: 100%;
                    height: auto;
                    color: #363C65;
                    border-radius: 8px;
                    outline: none;
                    width: 100%;
                    box-sizing: border-box;
                    // background-color: #F8FAFC;
                    transition: 0.2s;
                    // border: 1px solid #ECECEC;
                    padding: 10px 8px;
                    font-size: 15px;

                        & .MuiInputBase-root {
                            border-radius: 8px;
                            background-color: #F8FAFC;
                        }
                        
                        & .MuiInput-underline:after {
                            border-bottom-color: green;
                        }
                        
                        & .MuiOutlinedInput-root {
                            & fieldset {
                            border-color: #ECECEC;
                            }

                            &:hover fieldset {
                            border-color: $blue;
                            }

                            &.Mui-focused fieldset {
                            border-color: $blue;
                            }

                            & textarea {
                            height: 100%;
                            }
                        }
                    }

                    &-message {
                    width: 100%;
                    // padding-left: 30px !important;

                        & fieldset {
                            border: unset;
                            padding: 0;
                        }

                        & .MuiInputBase-root {
                            padding: 20px 0 !important;
                            align-items: start !important;
                            height: 100%;
                        }

                        & textarea {
                            height: 100%;
                        }
                    }
                }

                &-submit {
                    text-align: right;
                    padding: 0 30px;
                }

            }
        }
    }
  }
}

.cloud-page__header_notes-details {
    // height: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    padding-left: 15px;
    box-sizing: border-box;

    &_actions {

        & .MuiButtonBase-root {
            svg {
                color: rgba(0, 0, 0, 0.5);
            }
        }

        &_toggler {
            & .MuiButtonBase-root {
                border: unset;
            }
        }

        &.left {
            text-align: left;
        }
        
        &.center {
            text-align: center;
        }
        
        &.right {
            text-align: right;
        }
    }

    &_close {
        text-align: right;
    }

    &_search {
        // display: flex;
        // gap: 5px;
        flex: 1;

        .MuiFormControl-root {
            width: 100%;
        }
        
        &_container {
            position: relative;
            color: #666666;
            margin-left: 0;
            width: 100%;
            margin-right: 10px;
            display: flex;
            align-items: center;
            // background: rgba(240, 242, 245, 0.8);
            background-color: #ffffff80;
            border-radius: 8px;
            transform: translateX(0);
            transition: all 0.3s ease;
            width: auto;
            padding: 0 13px;
    
            label img {
              width: 18px;
            }
        }

        &-input {
            width: 100%;
            height: 40px;
            font-size: 14px;
            background-color: transparent;
            padding: 0 8px;
            line-height: 33px;
            border: unset;
            transition: all 0.3s ease;
            color: #3C3C43b3;
            transform: translateX(0);
    
            &::placeholder {
              color: #3C3C43b3;
              
            }
        }
    }

}