.notes-page {
  width: 100%;
  padding-bottom: 10px;
  height: 100%;
}
.notes-page .grid-content_left {
  overflow: auto;
}
.notes-page .MuiGrid-container {
  margin: 0;
}
.notes-page .MuiGrid-item {
  padding-top: 0 !important;
}
.notes-page .MuiGrid-root {
  height: 100%;
}
.notes-page_sidebar {
  padding: 0 5px 10px 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  box-sizing: border-box;
}
.notes-page_sidebar_create-event_btn.MuiButtonBase-root {
  font-size: 16px;
  font-weight: 400;
  background-color: #4382C4;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  text-transform: none;
  height: 44px;
  box-sizing: border-box;
}
.notes-page_sidebar_create-event_btn.MuiButtonBase-root:hover {
  background-color: #4382C4;
}
.notes-page_sidebar-section {
  height: calc(100% - 65px);
}
.notes-page_sidebar-section_notes-list {
  height: 100%;
}
.notes-page_sidebar-section_notes-list .MuiTabs-flexContainer {
  flex-direction: column-reverse;
}
.notes-page_sidebar-section_notes-item.MuiButtonBase-root {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  text-transform: unset;
  flex-direction: row;
  padding: 15px 20px;
  border-radius: 8px;
  max-width: unset;
}
.notes-page_sidebar-section_notes-item.MuiButtonBase-root:hover {
  background-color: rgba(67, 130, 196, 0.1019607843);
}
.notes-page_sidebar-section_notes-item_content {
  overflow: hidden;
  text-align: left;
}
.notes-page_sidebar-section_notes-item_content_name {
  font-size: 13px;
  color: #333;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  margin-bottom: 6px;
}
.notes-page_sidebar-section_notes-item_content_message {
  font-size: 13px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
.notes-page_sidebar-section_notes-item_content_message span:first-child {
  color: #333333;
}
.notes-page_sidebar-section_notes-item_content_message span:last-child {
  color: #989898;
  margin-left: 7px;
}
.notes-page_sidebar-section_notes-item_actions {
  transition: all 0.3s ease;
  display: none;
}
.notes-page_sidebar-section_notes-item:hover .notes-page_sidebar-section_notes-item_actions {
  display: flex;
}
.notes-page_sidebar-section_notes-item:hover .notes-page_sidebar-section_notes-item_content_name {
  color: #3089dc;
}
.notes-page_sidebar-section_notes-item:hover .notes-page_sidebar-section_notes-item_content_message {
  color: #3089dc;
}
.notes-page_sidebar-section_notes-item:hover .notes-page_sidebar-section_notes-item_content span {
  color: #3089dc;
}
.notes-page_main {
  height: 100%;
  padding: 0 10px 0 15px;
}
.notes-page_main_notes {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 8px;
}
.notes-page_main_notes-messages {
  height: 100%;
  padding: 24px !important;
  box-sizing: border-box;
}
.notes-page_main_notes-messages .MuiBox-root {
  padding: 0 !important;
}
.notes-page_main_notes-messages__body {
  display: flex;
  flex-direction: column;
}
.notes-page_main_notes-messages__body-date {
  text-align: center;
  margin-bottom: 15px;
}
.notes-page_main_notes-messages__body-date p {
  font-size: 13px;
  color: #727272;
}
.notes-page_main_notes-messages__body-content {
  display: flex;
  flex-direction: column;
}
.notes-page_main_notes-messages__body-content-title {
  width: 100%;
  height: auto;
  color: #363C65;
  border-radius: 8px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  transition: 0.2s;
  padding: 10px 8px;
  font-size: 15px;
}
.notes-page_main_notes-messages__body-content-title .MuiInputBase-root {
  border-radius: 8px;
  background-color: #F8FAFC;
}
.notes-page_main_notes-messages__body-content-title .MuiInput-underline:after {
  border-bottom-color: green;
}
.notes-page_main_notes-messages__body-content-title .MuiOutlinedInput-root fieldset {
  border-color: #ECECEC;
}
.notes-page_main_notes-messages__body-content-title .MuiOutlinedInput-root:hover fieldset {
  border-color: #3089dc;
}
.notes-page_main_notes-messages__body-content-title .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #3089dc;
}
.notes-page_main_notes-messages__body-content-title .MuiOutlinedInput-root textarea {
  height: 100%;
}
.notes-page_main_notes-messages__body-content-message {
  width: 100%;
}
.notes-page_main_notes-messages__body-content-message fieldset {
  border: unset;
  padding: 0;
}
.notes-page_main_notes-messages__body-content-message .MuiInputBase-root {
  padding: 5px 0 !important;
  align-items: start !important;
  height: 100%;
}
.notes-page_main_notes-messages__body-content-message textarea {
  height: 100%;
}
.notes-page_main_notes-messages__body-submit {
  text-align: right;
  padding: 0 30px;
}

.cloud-page__header_notes-details {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  padding-left: 15px;
  box-sizing: border-box;
}
.cloud-page__header_notes-details_actions .MuiButtonBase-root svg {
  color: rgba(0, 0, 0, 0.5);
}
.cloud-page__header_notes-details_actions_toggler .MuiButtonBase-root {
  border: unset;
  padding: 8px;
}
.cloud-page__header_notes-details_actions-right {
  margin-right: 60px;
  height: 40px;
}
.cloud-page__header_notes-details_actions-right-btns {
  height: 100%;
}
.cloud-page__header_notes-details_actions-right-btns .MuiButtonGroup-root {
  height: 100%;
  gap: 15px;
}
.cloud-page__header_notes-details_actions-right-btns .MuiButtonGroup-root .MuiButtonBase-root {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}
.cloud-page__header_notes-details_actions-right-btns .MuiButtonGroup-root .MuiButtonBase-root img {
  width: 20px;
  height: 20px;
}
.cloud-page__header_notes-details_actions-left {
  height: 40px;
  margin-right: 205px;
}
.cloud-page__header_notes-details_actions-left .MuiButtonGroup-root {
  height: 100%;
  gap: 15px;
}
.cloud-page__header_notes-details_actions-left .MuiButtonGroup-root .MuiButtonBase-root {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}
.cloud-page__header_notes-details_close {
  text-align: right;
}
.cloud-page__header_notes-details_search {
  width: 310px;
  display: flex;
  align-items: center;
}
.cloud-page__header_notes-details_search_wrapper {
  display: flex;
  gap: 10px;
}
.cloud-page__header_notes-details_search .MuiFormControl-root {
  width: 100%;
}
.cloud-page__header_notes-details_search_container {
  position: relative;
  color: #666666;
  margin-left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5019607843);
  border-radius: 8px;
  transform: translateX(0);
  transition: all 0.3s ease;
  width: auto;
  padding: 0 10px;
}
.cloud-page__header_notes-details_search_container label img {
  width: 18px;
}
.cloud-page__header_notes-details_search-input {
  width: 100%;
  height: 36px;
  font-size: 15px;
  background-color: transparent;
  padding: 0 8px;
  line-height: 33px;
  border: unset;
  transition: all 0.3s ease;
  color: #74737B;
  transform: translateX(0);
}
.cloud-page__header_notes-details_search-input::-moz-placeholder {
  color: #74737B;
}
.cloud-page__header_notes-details_search-input::placeholder {
  color: #74737B;
}/*# sourceMappingURL=notes-page.css.map */