@import '../../../styles/sass/variables.scss';

.email-page {
    width: 100%;
    padding-bottom: 10px;
    height: 75vh;

    & .MuiGrid-container {
        margin: 0;
      }
    
      & .MuiGrid-item {
        padding-top: 0 !important;
      }
    
      & .MuiGrid-root {
        height: 100%;
      }

    &_sidebar {
        padding: 50px 5px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &_create-event {
            & button {
                background-color: $blue;
                width: 100%;
                padding: 12px;
                text-align: center;
                color: #FFF;
                border-radius: 8px;
            }
        }

        &-section {
            &_category {
                &-list {

                    & .MuiTabs-flexContainer {
                        gap: 5px;
                    }

                }

                &-item {
                    &.MuiButtonBase-root {
                        text-transform: none;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 10px 20px;
                        border-radius: 8px;
                        max-width: unset;
                        
                        &:hover {
                            background-color: rgba(67, 130, 196, 0.1);
                        }
                    }

                    &.Mui-selected {
                        background-color: #4382C41A;
                    }


                    
                    &_content {
                        display: flex;
                        gap: 15px;

                        &-icon {
                            width: 20px;
                            height: 20px;
                        }

                        &-title {
                            font-size: 15px;
                            font-weight: 600;
                        }
                    }

                    &_unreadnum {
                        background-color: #4382C4;
                        border-radius: 5px;
                        padding: 4px 8px;
                        color: white;
                    }
                }

                & .MuiTabs-indicator {
                    display: none;
                }
            }
        }
    }

    &_main {
        height: 100%;
        padding: 0 10px 0 15px;

        &_email {
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            border-radius: 8px;

            &-tab {
                height: 100%;
                box-sizing: border-box;

                .MuiBox-root, .MuiTypography-root {
                    height: 100%;
                    box-sizing: border-box;
                }

                .MuiTablePagination-root {
                    overflow: hidden;
                }
                
                .MuiPaper-root {
                    height: 100%;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                }
            }
        }

    }
}
